<section fxLayout="column" fxFlexAlign="stretch">
    <mat-card>
        <div *ngIf="!(user?.is_superuser)">
            You are not allowed to manage users. Become admin, or drink a beer or two.
        </div>
        <div class="container" *ngIf="user?.is_superuser"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
            <div fxFlex="5%" style="background-color: #b2e7f2"></div>
            <div fxFlex="20%">
                <h1>Summary</h1>
                <div class="user-details-container">
                    <img class="user-image" src="https://randomuser.me/api/portraits/lego/3.jpg"/>
                    <span class="user-title">Jankooo Jankers {{editUserForm.get('housemate.display_name')?.value}}</span>
                    <p class="user-bio" *ngIf="editUserForm.get('email')?.value">{{editUserForm.get('email')?.value}}</p>
                    <p class="user-bio" *ngIf="editUserForm.get('username')?.value">{{editUserForm.get('username')?.value}}</p>
                </div>
            </div>
            <div class="item item-2" fxFlex>
                <h1>Profile</h1>
                <form [formGroup]="editUserForm" fxLayout="column">
                    <mat-form-field>
                        <input matInput placeholder="First name" type="text" formControlName="first_name" required/>
                        <mat-error *ngIf="E('first_name')?.required">First name is required.</mat-error>
                        <mat-error *ngIf="E('first_name')?.minlength">First name needs to be >=2 characters.</mat-error>
                        <mat-error *ngIf="E('first_name')?.maxlength">First name needs to be <=30 characters.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last name" type="text" formControlName="last_name" required/>
                        <mat-error *ngIf="E('last_name')?.required">Last name is required.</mat-error>
                        <mat-error *ngIf="E('last_name')?.minlength">Last name needs to be >=2 characters.</mat-error>
                        <mat-error *ngIf="E('last_name')?.maxlength">Last name needs to be <=150 characters.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" formControlName="password" required/>
                        <mat-error *ngIf="E('password')?.required">Password is required.</mat-error>
                        <mat-error *ngIf="E('password')?.minlength">Password needs to be >=6 characters.</mat-error>
                        <mat-error *ngIf="E('password')?.maxlength">Password needs to be <=150 characters.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password (repeat)" type="password" required
                               formControlName="password_repeat"/>
                        <mat-error *ngIf="E('password_repeat')?.required">Password is required.</mat-error>
                        <mat-error *ngIf="E('password_repeat')?.minlength">Password needs to be >=6 characters.
                        </mat-error>
                        <mat-error *ngIf="E('password_repeat')?.maxlength">Password needs to be <=150 characters.
                        </mat-error>
                        <mat-error *ngIf="E('password_repeat')?.isNotMatching">Passwords are not equivalent.</mat-error>
                    </mat-form-field>
                </form>
            </div>
            <div class="item item-3" fxFlex>
                <h1>Housemate</h1>
                <form [formGroup]="editUserForm" fxLayout="column" novalidate>
                    <mat-form-field formGroupName="housemate">
                        <input matInput placeholder="Room number" type="number" formControlName="room_number" required/>
                    </mat-form-field>
                    <mat-form-field formGroupName="housemate">
                        <input matInput placeholder="Diet" type="text" formControlName="diet"/>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="button"
                            [disabled]="!editUserForm.valid" (click)="editUser()">Create user
                    </button>
                </form>
            </div>
            <div fxFlex="5%" style="background-color: #b2e7f2"></div>
        </div>
    </mat-card>
</section>
