<mat-card style="margin-top:10px;">
    <mat-card-header>
        <mat-card-title>
            Calendar events
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let event of calendarEvents" fxLayout="column">
                <p style="width: 30%">{{event.creator.email}} - {{event.summary}} </p>
                <small>Starts: {{event.start.dateTime | date : 'M/d/yy, h:mm a' }} &nbsp;</small>
                <small>Ends: {{event.end.dateTime | date : 'M/d/yy, h:mm a' }}</small> <br/>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions *ngIf="!miniView">
        <button mat-flat-button routerLink="/organisation/">
            <mat-icon>arrow_back</mat-icon>
            back to organisation
        </button>
    </mat-card-actions>
</mat-card>
