<form #imageForm=ngForm (ngSubmit)="submitImage(files)">
    <label for="file-input">Receipt attachment (photo/pdf)</label>
    <input #files (change)="handleFileInput($event.target.files)" class="form-control" id="file-input" multiple
           type="file"/>
    <button [disabled]="!files || !imageForm.valid" color="accent" mat-raised-button type="submit">
        <i class="material-icons">save</i> Upload
    </button>
</form>

<section fxFlexAlign="stretch" fxLayout="column">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Receipt upload (photo/PDF)</mat-card-title>
        </mat-card-header>

        <form [formGroup]="uploadReceiptForm" fxLayout="column">
            <mat-form-field>
                <input formControlName="email" matInput placeholder="Email" type="email"/>
                <mat-error *ngIf="E('email')?.required">Email is required.</mat-error>
                <mat-error *ngIf="E('email')?.email || E('email')?.pattern">
                    Email incorrect.
                </mat-error>
                <mat-error *ngIf="E('email')?.emailExists">This email exists already.</mat-error>
            </mat-form-field>
        </form>

        <button mat-raised-button routerLink="/organisation/receipts">
            <mat-icon>arrow_back</mat-icon>
            back to receipts
        </button>
    </mat-card>
</section>
