<p>
    upload receipt stub. I am working hard on finishing it.
</p>
<h1>Receipt upload</h1>
<em>This is under construction and WILL NOT WORK. Try if you absolutely feel like it xD</em>
<br/>
<br/>

<form #imageForm=ngForm (ngSubmit)="submitImage(files)">
    <label for="file-input">Receipt attachment (photo/pdf)</label>
    <input class="form-control" id="file-input" #files type="file" (change)="handleFileInput($event.target.files)"
           multiple/>
    <button mat-raised-button color="accent" type="submit" [disabled]="!files || !imageForm.valid">
        <i class="material-icons">save</i> Upload
    </button>
</form>
