{% extends 'base/base.html' %}

{% block title %} | Admin{% endblock %}

{% block add_to_header %}
<link rel="stylesheet" href="/static/css/components/tooltip.almost-flat.min.css">
<script src="/static/js/components/tooltip.min.js"></script>
<script src="/static/js/components/datepicker.min.js"></script>
<link rel="stylesheet" href="/static/css/components/datepicker.almost-flat.min.css">
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
    <div class="uk-grid uk-padding-remove" style="position:relative;">
        <div class="uk-width-medium-7-10">
            <ul class="uk-tab uk-tab-grid">
                <li class="uk-hidden-small uk-width-1-3{% if request.resolver_match.url_name == 'summary' %} uk-active{% endif %}">
                    <a href="{% url 'summary' %}"><i class="uk-icon-users"></i> Huisinfo</a>
                </li>
                 <li class="uk-visible-small uk-text-small uk-width-1-3{% if request.resolver_match.url_name == 'summary' %} uk-active{% endif %}">
                    <a href="{% url 'summary' %}">Huisinfo</a>
                </li>
            </ul>
            <div class="tab-content"{% if request.resolver_match.url_name == 'balance' %} style="border-bottom: 1px solid #ddd;"{% endif %}>
                <table class="small-rows uk-table uk-table-hover">
                    <thead class="uk-h6">
                        <tr>
                            <th>Naam</th>
                            <th class="uk-text-center">Kamer</th>
                            <th>Nummer cell</th>
                            <th class="uk-visible-large">Nummer ouders</th>
                            <th class="uk-hidden-small">Toegevoegd</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in housemates %}
                        <tr {% if h.user == request.user %} class="uk-active" {% endif %}>
                            <td>{{ h }}</td>
                            <td class="uk-text-center">{{ h.room_number }}</td>
                            <td>{{ h.cell_phone }}</td>
                            <td class="uk-visible-large">{{ h.parent_phone }}</td>
                            <td class="uk-hidden-small">{{ h.movein_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="uk-width-medium-3-10" style="margin-top: 2.5em;">
            {% include 'summary_options.html' %}
        </div>
    </div>

    {% else %}
        {% include 'base/login_form.html' %}
    {% endif %}

{% endblock %}