<footer fxFlex="80%" fxFlex.lt-md="100%">
    <mat-toolbar color="primary" class="bottom-bar mat-elevation-z18">
        <i class="material-icons" routerLink="/home" routerLinkActive="active-link">
            house
        </i>
        <i class="material-icons" routerLink="/turf" routerLinkActive="active-link">
            local_bar
        </i>
        <i class="material-icons" routerLink="/dinner" routerLinkActive="active-link">
            local_dining
        </i>
    </mat-toolbar>
</footer>
