$break-small: 320px;
$break-medium: 576px;
$break-large: 1200px;

@import '~@angular/material/theming';
$app-primary: mat-palette($mat-grey);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-pink);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);


.bottom-bar {
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    width: 400px;
    overflow: hidden;

    $ease-in: 0.25s;
    $ease-out: 0.5s;

    @media (max-width: $break-medium) {
        //float: none;
    }

    i {
        color: white;
        border-radius: 120px;
        padding: 40px;
        max-width: 25%;
        cursor: pointer;
        opacity: 0.7;
        outline: none;

        transition: all $ease-out ease-in-out;
        -moz-transition: all $ease-out ease-in-out;
        -webkit-transition: all $ease-out ease-in-out;

        @media (max-width: $break-medium) {
            padding: 20px;
        }
    }

    i:hover {
        opacity: 0.95;
        border-radius: 80px;
        background-color: $warn;
        transition: all $ease-in ease-in-out;
        -moz-transition: all $ease-in ease-in-out;
        -webkit-transition: all $ease-in ease-in-out;
    }
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
