<section fxLayout="column" fxFlexAlign="stretch">
    <mat-card class="page-content-card" fxFlexAlign="center" style="margin-bottom:20px;" *ngIf="!miniView">
        <mat-card-header>
            <mat-card-title>
                <mat-card-title>
                    {{user ? "Dinners for " + user.housemate.display_name : ""}}
                </mat-card-title>
                <mat-card-subtitle>
                    Balance: {{user ? "&euro;" + user.housemate.balance : "?"}}
                </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <mat-card-footer>
            <div fxFlex></div>
            <button mat-button (click)="toggleWeek()">Show {{showWeek ? "TODAY" : "WEEK"}}</button>
        </mat-card-footer>
    </mat-card>
    <mat-card class="page-content-card selectable mat-elevation-z24" fxFlexAlign="center"
              *ngFor="let dinner of weekDinners" [@slideInOut]="weekCollapse"
              [@slideOpen]="dayCollapse == dinner.date.toString()" (click)="openDinner(dinner)">
        <mat-card-header>
            <div mat-card-avatar>
                <i class="material-icons vertical-align-middle padding-bottom-3 icon-large"
                   [matBadge]="dinner.num_eating"
                   matBadgeColor="primary">
                    local_dining
                </i>
            </div>
            <mat-card-title style="display: flex;">
                {{getWeekday(dinner.date)}} {{ dinner.eta_time ? "-" + dinner.eta_time : ""}}
                <span class="fill-remaining-space"></span>
            </mat-card-title>
            <mat-card-subtitle>{{dinner.date | date : 'MMMM d'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span style="display:block">
                Cook: <em>{{ dinner.cook ? dinner.cook.housemate.display_name : "None" }}</em>
            </span>
        </mat-card-content>
    </mat-card>
    <mat-card class="page-content-card mat-elevation-z24" fxFlexAlign="center"
              [@slideInOut]="todayCollapse" *ngIf="todayDinner">
        <mat-card-header>
            <div mat-card-avatar>
                <i class="material-icons vertical-align-middle padding-bottom-3 icon-large"
                   [matBadge]="todayDinner.num_eating" matBadgeColor="primary">
                    local_dining
                </i>
            </div>
            <mat-card-title style="display: flex;">
                <span *ngIf="miniView">Dinner</span>
                &nbsp;{{ miniView ? "(" : ""}}{{getWeekday(todayDinner.date)}}{{miniView ? ")" : ""}}
                {{ todayDinner.eta_time ? "-" + todayDinner.eta_time : ""}}
                {{ todayDinner.open ? "" : "(closed)"}}
            </mat-card-title>
            <mat-card-subtitle>{{todayDinner.date | date : 'MMMM d'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span style="display:block">
                Cook: <em>{{ todayDinner.cook ? todayDinner.cook.housemate.display_name : "None" }}</em>
                <br/>
                Joining: <i *ngFor="let ud of todayDinner.userdinners">{{ud.user.housemate.display_name}},</i>
            </span>
        </mat-card-content>
        <mat-card-actions *ngIf="user">
            <button mat-raised-button color="primary"
                    (click)="signupDinner(todayDinner)" [disabled]="todayDinner.close_time">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button color="primary"
                    (click)="signOffDinner(todayDinner)"
                    [disabled]="todayDinner.close_time || !getUserEntry(todayDinner, user)?.count">
                <mat-icon>not_interested</mat-icon>
                {{getUserEntry(todayDinner, user)?.count}}
            </button>
            <button mat-raised-button (click)="cookDinner(todayDinner)"
                    [color]="todayDinner.cook == null ? 'accent' : 'warn'"
                    [disabled]="todayDinner.cook && todayDinner.cook.id !== user.id || !todayDinner.open">
                <mat-icon *ngIf="!todayDinner.cook">shopping_cart</mat-icon>
                <mat-icon *ngIf="todayDinner.cook">remove_shopping_cart</mat-icon>
            </button>
            <button mat-raised-button (click)="closeDinner(todayDinner)"
                    [color]="todayDinner.open ? 'accent' : 'warn'"
                    *ngIf="user && todayDinner && todayDinner.num_eating > 1 && todayDinner.cook ? (todayDinner.cook.id == user.id) : false">
                <mat-icon *ngIf="todayDinner.open">lock</mat-icon>
                <mat-icon *ngIf="!todayDinner.open">lock_open</mat-icon>
            </button>
            <div fxFlex></div>

            <!--            <button mat-raised-button (click)="costDinner(todayDinner)" color="primary"-->
            <!--                    *ngIf="user && todayDinner.cook ? (todayDinner.cook.id == user.id && todayDinner.close_time && todayDinner.cost == null) : false ">-->
            <!--                <mat-icon>attach_money</mat-icon>-->
            <!--            </button>-->
        </mat-card-actions>
    </mat-card>
    <span fxFlexAlign="center" style="color:white;">{{ weekDinners.length == 0 ? "Loading dinners." : ""}}</span>
</section>


