<section fxFlexAlign="stretch" fxLayout="column">
    <mat-toolbar *ngIf="!miniView" style="margin-bottom:10px;">
        Dinner ({{user ? user.housemate.display_name : ""}}, &nbsp;
        <small>{{user ? "&euro;" + user.housemate.balance : "?"}}</small>)
        <div fxFlex></div>
        <mat-slide-toggle (change)="toggleWeek()">
            {{showWeek ? "WEEK" : "TODAY"}}
        </mat-slide-toggle>
    </mat-toolbar>
<!--    <mat-card (click)="openDinner(dinner)" *ngFor="let dinner of weekDinners"-->
<!--              [@slideInOut]="weekCollapse" [@slideOpen]="dayCollapse == dinner.date.toString()"-->
<!--              class="page-content-card selectable mat-elevation-z24" fxFlexAlign="center">-->
<!--        <mat-card-header>-->
<!--            <div mat-card-avatar>-->
<!--                <i [matBadge]="dinner.num_eating"-->
<!--                   class="material-icons vertical-align-middle padding-bottom-3 icon-large"-->
<!--                   matBadgeColor="primary">-->
<!--                    local_dining-->
<!--                </i>-->
<!--            </div>-->
<!--            <mat-card-title>-->
<!--                {{ getWeekday(dinner.date)}} {{ dinner.eta_time ? "-" + dinner.eta_time : "" }}-->
<!--            </mat-card-title>-->
<!--            <mat-card-subtitle>{{dinner.date | date : 'MMMM d'}}</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--    </mat-card>-->
    <mat-card [@slideInOut]="weekCollapse" class="page-content-card" fxFlexAlign="center">
        <mat-card-header>
            <div mat-card-avatar>
                <i [matBadge]="currentDinner?.num_eating"
                   class="material-icons vertical-align-middle padding-bottom-3 icon-large"
                   matBadgeColor="primary">
                    local_dining
                </i>
            </div>
            <mat-card-title>
                {{ getWeekday(dinner?.date)}} {{ dinner?.eta_time ? "-" + dinner?.eta_time : "" }}
            </mat-card-title>
            <mat-card-subtitle>{{dinner?.date | date : 'MMMM d'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let dinner of weekDinners" (click)="findToday(dinner.date)">
                    {{ dinner.date | date : 'MMMM d' }}
                    <mat-divider [inset]="true"></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="currentDinner" [@slideInOut]="todayCollapse"
              class="page-content-card" fxFlexAlign="center">
        <mat-card-header>
            <div mat-card-avatar>
                <i [matBadge]="currentDinner.num_eating"
                   class="material-icons vertical-align-middle padding-bottom-3 icon-large" matBadgeColor="primary">
                    local_dining
                </i>
            </div>
            <mat-card-title>
                {{ getWeekday(currentDinner.date) }}
                {{ currentDinner.eta_time ? "-" + currentDinner.eta_time : ""}}
                {{ currentDinner.open ? "" : "(closed)"}}
            </mat-card-title>
            <mat-card-subtitle>{{ currentDinner.date | date : 'MMMM d' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="outline" class="example-chip-list" style="">
                <mat-chip-list #userDinnerList>
                    <mat-chip (removed)="signOffDinner(currentDinner, filterCook()[0].user)"
                              *ngIf="currentDinner.cook" color="primary" selected>
                        <mat-icon svgIcon="cooking_hat"></mat-icon>
                        {{ currentDinner.cook ? currentDinner.cook.housemate.display_name : "None" }}
                        {{ filterCook()[0]?.count > 0 ? " +" + (filterCook()[0].count).toString() : "" }}
                        <mat-icon *ngIf="filterCook()[0].count && currentDinner.open" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <mat-chip (removed)="signOffDinner(currentDinner, ud.user)" *ngFor="let ud of filterDining()"
                              [color]="ud.user.housemate.balance <=-25">
                        <mat-icon>local_dining</mat-icon>
                        {{ ud.user.housemate.display_name}}{{ud.count > 1 ? " +" + (ud.count - 1).toString() : ""}}
                        <mat-icon *ngIf="currentDinner.open" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                        #userDinnerInput
                        (keydown)="onUserDinnerKey($event)"
                        [formControl]="displayNameCtrl"
                        [matAutocomplete]="autoComplete"
                        [matChipInputAddOnBlur]="true"
                        [matChipInputFor]="userDinnerList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        placeholder="Add by typing">
                </mat-chip-list>

                <!-- Trigger by piped _filter function-->
                <mat-autocomplete
                    #autoComplete="matAutocomplete"
                    (optionSelected)="selectedTypeAhead($event)"
                    [autoActiveFirstOption]="true">
                    <mat-option *ngFor="let user of filteredActiveUsers | async" [value]="user">
                        {{user.housemate.display_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions *ngIf="user">
            <button (click)="signupDinner(currentDinner)" [disabled]="currentDinner.close_time"
                    color="primary" mat-raised-button>
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="signOffDinner(currentDinner)"
                    [disabled]="currentDinner.close_time || !getUserEntry(currentDinner, user)?.count"
                    color="primary"
                    mat-raised-button>
                <mat-icon>not_interested</mat-icon>
            </button>
            <button (click)="cookDinner(currentDinner)" [color]="currentDinner.cook == null ? 'accent' : 'warn'"
                    [disabled]="currentDinner.cook && currentDinner.cook.id !== user.id || !currentDinner.open"
                    mat-raised-button>
                <mat-icon *ngIf="!currentDinner.cook" svgIcon="cooking_hat"></mat-icon>
                <mat-icon *ngIf="currentDinner.cook" svgIcon="remove_cooking_hat"></mat-icon>
            </button>
            <button (click)="closeDinner(currentDinner)"
                    *ngIf="user && currentDinner && currentDinner.num_eating > 1 && currentDinner.cook ? (currentDinner.cook.id == user.id) : false"
                    [color]="currentDinner.open ? 'accent' : 'warn'"
                    mat-raised-button>
                <mat-icon *ngIf="currentDinner.open">lock</mat-icon>
                <mat-icon *ngIf="!currentDinner.open">lock_open</mat-icon>
            </button>
            <div fxFlex></div>

            <!--            <button mat-raised-button (click)="costDinner(todayDinner)" color="primary"-->
            <!--                    *ngIf="user && todayDinner.cook ? (todayDinner.cook.id == user.id && todayDinner.close_time && todayDinner.cost == null) : false ">-->
            <!--                <mat-icon>attach_money</mat-icon>-->
            <!--            </button>-->
        </mat-card-actions>
    </mat-card>
    <span fxFlexAlign="center" style="color:white;">{{ weekDinners.length == 0 ? "Loading dinners." : ""}}</span>
</section>


