.vertical-align-middle {
    vertical-align: middle;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.selectable {
    margin-bottom: -50px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.small-icon {
    width: 16px;
    height: 16px;
    //transform: scale(1);
}
