<section fxFlexAlign="stretch" fxLayout="column">
    <mat-card *ngIf="!miniView" class="page-content-card" fxFlexAlign="center" style="margin-bottom:20px;">
        <mat-card-header>
            <mat-card-title>
                <mat-card-title>
                    {{user ? "Dinners for " + user.housemate.display_name : ""}}
                </mat-card-title>
                <mat-card-subtitle>
                    Balance: {{user ? "&euro;" + user.housemate.balance : "?"}}
                </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <mat-card-footer>
            <div fxFlex></div>
            <button (click)="toggleWeek()" mat-button>Show {{showWeek ? "TODAY" : "WEEK"}}</button>
        </mat-card-footer>
    </mat-card>
    <mat-card (click)="openDinner(dinner)" *ngFor="let dinner of weekDinners"
              [@slideInOut]="weekCollapse" [@slideOpen]="dayCollapse == dinner.date.toString()"
              class="page-content-card selectable mat-elevation-z24" fxFlexAlign="center">
        <mat-card-header>
            <div mat-card-avatar>
                <i [matBadge]="dinner.num_eating"
                   class="material-icons vertical-align-middle padding-bottom-3 icon-large"
                   matBadgeColor="primary">
                    local_dining
                </i>
            </div>
            <mat-card-title style="display: flex;">
                {{getWeekday(dinner.date)}} {{ dinner.eta_time ? "-" + dinner.eta_time : ""}}
                <span class="fill-remaining-space"></span>
            </mat-card-title>
            <mat-card-subtitle>{{dinner.date | date : 'MMMM d'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span style="display:block">
                Cook: <em>{{ dinner.cook ? dinner.cook.housemate.display_name : "None" }}</em>
                <br/>
                Joining: <i *ngFor="let ud of dinner.userdinners">{{ud.user.housemate.display_name}}, </i>
            </span>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="currentDinner" [@slideInOut]="todayCollapse"
              class="page-content-card" fxFlexAlign="center">
        <mat-card-header>
            <div mat-card-avatar>
                <i [matBadge]="currentDinner.num_eating"
                   class="material-icons vertical-align-middle padding-bottom-3 icon-large" matBadgeColor="primary">
                    local_dining
                </i>
            </div>
            <mat-card-title style="display: flex;">
                <span *ngIf="miniView">Dinner</span>
                &nbsp;{{ miniView ? "(" : ""}}{{getWeekday(currentDinner.date)}}{{miniView ? ")" : ""}}
                {{ currentDinner.eta_time ? "-" + currentDinner.eta_time : ""}}
                {{ currentDinner.open ? "" : "(closed)"}}
            </mat-card-title>
            <mat-card-subtitle>{{currentDinner.date | date : 'MMMM d'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="example-chip-list" style="width:100%;">
                <mat-chip-list #userDinnnerList>
                    <mat-chip *ngIf="currentDinner.cook" color="primary" selected>
                        <mat-icon svgIcon="cooking_hat"></mat-icon>
                        {{ currentDinner.cook ? currentDinner.cook.housemate.display_name : "None" }}
                        {{filterCook()[0]?.count > 0 ? " +" + (filterCook()[0].count).toString() : ""}}
                    </mat-chip>
                    <mat-chip *ngFor="let ud of filterDining()" [color]="ud.user.housemate.balance <=-25">
                        <mat-icon>local_dining</mat-icon>
                        {{ ud.user.housemate.display_name}}{{ud.count > 1 ? " +" + (ud.count - 1).toString() : ""}}
                        <mat-icon *ngIf="true" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input #userDinnerInput
                           [matAutocomplete]="autoComlete"
                           [matChipInputAddOnBlur]="true"
                           [matChipInputFor]="userDinnnerList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           placeholder="Add people">
                </mat-chip-list>
                <mat-autocomplete #autoComlete="matAutocomplete" (optionSelected)="selectedTypeAhead($event)">
                    <mat-option *ngFor="let ud of typeAheadUserDinners | async" [value]="ud">
                        {{ud.count}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions *ngIf="user">
            <button (click)="signupDinner(currentDinner)" [disabled]="currentDinner.close_time"
                    color="primary" mat-raised-button>
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="signOffDinner(currentDinner)"
                    [disabled]="currentDinner.close_time || !getUserEntry(currentDinner, user)?.count"
                    color="primary"
                    mat-raised-button>
                <mat-icon>not_interested</mat-icon>
            </button>
            <button (click)="cookDinner(currentDinner)" [color]="currentDinner.cook == null ? 'accent' : 'warn'"
                    [disabled]="currentDinner.cook && currentDinner.cook.id !== user.id || !currentDinner.open"
                    mat-raised-button>
                <mat-icon *ngIf="!currentDinner.cook" svgIcon="cooking_hat"></mat-icon>
                <mat-icon *ngIf="currentDinner.cook" svgIcon="remove_cooking_hat"></mat-icon>
            </button>
            <button (click)="closeDinner(currentDinner)"
                    *ngIf="user && currentDinner && currentDinner.num_eating > 1 && currentDinner.cook ? (currentDinner.cook.id == user.id) : false"
                    [color]="currentDinner.open ? 'accent' : 'warn'"
                    mat-raised-button>
                <mat-icon *ngIf="currentDinner.open">lock</mat-icon>
                <mat-icon *ngIf="!currentDinner.open">lock_open</mat-icon>
            </button>
            <div fxFlex></div>

            <!--            <button mat-raised-button (click)="costDinner(todayDinner)" color="primary"-->
            <!--                    *ngIf="user && todayDinner.cook ? (todayDinner.cook.id == user.id && todayDinner.close_time && todayDinner.cost == null) : false ">-->
            <!--                <mat-icon>attach_money</mat-icon>-->
            <!--            </button>-->
        </mat-card-actions>
    </mat-card>
    <span fxFlexAlign="center" style="color:white;">{{ weekDinners.length == 0 ? "Loading dinners." : ""}}</span>
</section>


