[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-rainbowtests = "*"
psycopg2 = "*"

[packages]
gunicorn = "==20.0.4"
openpyxl = "==3.0.3"
virtualenv = "==20.0.4"
wiki = "==0.5"
django = "==2.2.10"
djangorestframework = "==3.11.0"
djangorestframework_simplejwt = "==4.4.0"
django-cors-headers = "==3.2.1"
django-rest-marshmallow = "~=4.0.1"
marshmallow = "==3.0.0"
django-url-filter = "==0.3.15"
google-api-python-client = "*"

[requires]
python_version = "3.7"
