[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-rainbowtests = "*"
psycopg2 = "*"

[packages]
gunicorn = "==20.0.4"
openpyxl = "==2.5.5"
virtualenv = "==20.0.25"
wiki = "==0.6"
django = "==3.0.7"
djangorestframework = "==3.11.2"
djangorestframework_simplejwt = "==4.4.0"
django-cors-headers = "==3.4.0"
django-rest-marshmallow = "~=4.0.2"
marshmallow = "==3.0.0"
django-url-filter = "==0.3.15"
google-api-python-client = "~=1.9.2"

[requires]
python_version = "3.7"
