.margin-post {
    margin-top: 10px;
}
.margin-pre {
    margin-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.form-subform {
    background-color: #dddddd;
    padding:10px;
    margin-bottom: 10px;

    .mat-hint {
        margin-bottom: 0 !important;
    }

}
