<div class="uk-panel uk-panel-box">
    <p><a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="/bierlijst/"><i class="uk-icon-arrow-circle-left"></i> Terug naar bierlijst</a></p>

    <hr>

    <h5 class="uk-margin-remove">Voeg een boete</h5>

    <div class="uk-width-1-1 uk-container-center uk-margin-top uk-margin-bottom">
        <form class="uk-form" method="post" action="/bierlijst/boetes/add/">
            {% csrf_token %}
            <div class="uk-form-row uk-grid" style="margin-left: 0;">
                <input type="number" name="count" placeholder="1" class="uk-width-2-10">
                <div class="uk-width-8-10" style="padding: 0 0 0 1em;"><input class="uk-width-1-1" type="text" name="note" placeholder="Reden"></div>
            </div>

            <div class="uk-form-row uk-grid" style="margin-left: 0;">

                <div class="uk-width-1-2 uk-padding-remove">
                    <select name="housemate" class="uk-width-1-1">
                        <option value="0">Huisgenoot</option>
                        {% for u in housemates %}
                        <option value="{{ u.user_id }}">{{ u }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="uk-width-1-2" style="padding-left: 1em;">
                    <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Voeg toe</button>
                </div>

            </div>

        </form>
    </div>


    <hr>

    <p>To do:</p>
    <ul>
        <li>Pagination</li>
        <li>Date range</li>
        <li>Results per page</li>
        <li>Filter by user</li>
        <li>Notifications when recieving boete</li>
    </ul>
</div>