<div class="uk-panel uk-panel-box">
    <h3 class="uk-panel-title">Bierlijst</h3>
    <hr>
    <p><a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="/bierlijst/log/"><i class="uk-icon-archive"></i> Log bierlijst</a></p>
    <p><a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="/bierlijst/boetes/"><i class="uk-icon-legal"></i> Beheer boetes</a></p>

    <hr>
    <p>To do:</p>
    <ul>
        <li>Statistics pane</li>
        <li>Ability to add note</li>
        <li>Thesau controls</li>
    </ul>
</div>