<form class="turf-form uk-form uk-margin-remove uk-grid">
    <div class="uk-width-4-10" style="padding: 0px 5px 0px 0px;">
        <input class="uk-form-small count-{{ u.user_id }}" type="number" inputmode="numeric" min="-999" max="999" step="any">
    </div>
    <div class="uk-button-group uk-width-6-10 uk-padding-remove">
        <button data-user="{{ u.user_id }}" data-type="bier" class="btn-turf uk-button uk-button-small uk-width-3-5 {% if u.user_id == request.user.id %}uk-button-primary{% endif %}"><i class="uk-icon-plus"></i></button>
        <div class="uk-width-2-5" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
            <a href="" class="uk-button uk-button-small uk-width-1-1 {% if u.user_id == request.user.id %}uk-button-primary{% endif %}"><i class="uk-icon-angle-down"></i></a>
            <div class="uk-dropdown bierlijst-dropdown">
                <ul class="uk-nav">
                    <li><button data-user="{{ u.user_id }}" data-type="wwijn" class="btn-turf">W. Wijn</button></li>
                    <li><button data-user="{{ u.user_id }}" data-type="rwijn" class="btn-turf">R. Wijn</button></li>
                </ul>
            </div>
        </div>
    </div>
</form>