{% load static from staticfiles %}
{% load resource_tags %}

<form class="turf-form uk-form uk-margin-remove uk-grid">
    {% csrf_token %}
    <div class="uk-width-4-10" style="padding: 0px 5px 0px 0px;">
        <input class="uk-form-small count-{{ u.user_id }}" type="number" inputmode="numeric" min="-999" max="999"
               step="any">
    </div>
    <div class="uk-button-group uk-width-6-10 uk-padding-remove">
        <button data-user="{{ u.user_id }}" data-type="bier"
                data-audio-src=""
                class="btn-turf uk-button uk-button-small uk-width-3-5 {% if u.user_id == request.user.id %}uk-button-primary{% endif %}">
            <i class="uk-icon-plus"></i>
        </button>

        <div class="uk-width-2-5" data-uk-dropdown="{mode:'click',pos:'right-center'}">
            <button class="uk-button uk-button-small uk-width-1-1 {% if u.user_id == request.user.id %}uk-button-primary{% endif %}">
                <i class="uk-icon-angle-down"></i>
            </button>
            <div class="uk-dropdown bierlijst-dropdown">
                <button data-user="{{ u.user_id }}" data-type="wwijn" class="btn-turf">
                    <img class="wine-icon" src="/static/img/wine_white.png" alt=""/>
                </button>
                <button data-user="{{ u.user_id }}" data-type="rwijn" class="btn-turf">
                    <img class="wine-icon" src="/static/img/wine_red.png" alt=""/>
                </button>
            </div>
        </div>
    </div>
</form>