html {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2195f3+44,1e64a1+100 */
    background: rgb(125, 185, 232);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(125, 185, 232) 0%, rgb(33, 149, 243) 44%, rgb(30, 100, 161) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(125, 185, 232) 0%, rgb(33, 149, 243) 44%, rgb(30, 100, 161) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(125, 185, 232) 0%, rgb(33, 149, 243) 44%, rgb(30, 100, 161) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1e64a1', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.logo-fallback {
    width: 10px;
    height: 10px;
    background: url("../logo.svg") center center no-repeat;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--dark);
}

.display-4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

.fab {
    position: fixed;
    width: 56px;
    left: 50%;
    bottom: 15px;
    margin-left: -28px;
    cursor: pointer;
    opacity: 0.85;
}

.fab:hover {
    visibility: visible;
    opacity: 1.0;
}

.fab-action-button:hover+.fab-buttons .fab-buttons__link:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    transition-delay: 0.3s;
}

.fab-action-button {
    position: absolute;
    bottom: 0;
    display: block;
    width: 56px;
    height: 56px;
    background-color: #29B6F6;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-action-button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-action-button__icon {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: url('data:image/svg+xml;base64,DQo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjIyIiB2ZXJzaW9uPSIxIj48cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDNWMEw0IDRsNCA0VjVhNiA2IDAgMCAxIDUgOWwyIDEgMS00YzAtNC00LTgtOC04em0wIDE0YTYgNiAwIDAgMS01LTlMMSA3bC0xIDRjMCA0IDQgOCA4IDh2M2w0LTQtNC00djN6Ii8+PC9zdmc+') center no-repeat;
}
