<mat-card>
    <mat-card-header>
        <mat-card-title>
            Organisation - receipts
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button routerLink="/organisation/receipts/">
            <mat-icon>view_list</mat-icon>
            show receipts
        </button>
        <button mat-flat-button routerLink="/organisation/receipts/upload-receipt">
            <mat-icon>publish</mat-icon>
            upload receipt
        </button>
    </mat-card-actions>
</mat-card>

<mat-card style="margin-top:10px;">
    <mat-card-header>
        <mat-card-title>
            Organisation - calendar
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-calendar [miniView]="true"></app-calendar>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button routerLink="/organisation/calendar/">
            <mat-icon>view_list</mat-icon>
            show calendar
        </button>
    </mat-card-actions>
</mat-card>
