<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">
            <img style="display: flex;justify-content: center;" src="/assets/logo.svg"
                 alt="triangle with all three sides equal" height="60px"/></a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li>
                <button mat-icon-button routerLink="profile">
                    <mat-icon>perm_identity</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>
