<mat-toolbar color="primary">
    <div>
        <button (click)="onToggleSidenav()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">
            <img alt="triangle with all three sides equal" height="60px"
                 src="/assets/logo.svg" style="display: flex;justify-content: center;"/></a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul class="navigation-items" fxLayout fxLayoutGap="0px">
            <li class="nav-item">
                <small *ngIf="user">{{ user?.housemate?.display_name }}&nbsp;</small>
                <button [routerLink]="['/profile']" mat-icon-button routerLinkActive="nav-item-active">
                    <mat-icon>perm_identity</mat-icon>
                </button>
            </li>
            <li class="nav-item">
                <button (click)="loginHouse()" [disabled]="isHouse" mat-icon-button>
                    <mat-icon>house</mat-icon>
                </button>
            </li>
            <li class="nav-item">
                <button (click)="logout()" mat-icon-button>
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>
