body {
    background: url('../img/lf-bg.jpg'), url('../img/background_blue.svg'), url('../img/background.svg');
    background-position: no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}