/* UIKIT OVERRIDES*/

html {
    font-family: 'Roboto', sans-serif;
    background: #f5f5f5;
}

body {
}

input[type='number'] {
    -moz-appearance:textfield;
}

.small-rows td {
    border-bottom: 1px solid #ccc;
}

.small-rows thead th {
    padding: 5px 8px;
    vertical-align: middle;
}

.small-rows tbody td {
    padding: 4px 8px;
    vertical-align: middle;
}

.small-rows tfoot td {
    padding: 1px 8px;
    vertical-align: middle;
}

.tiny-rows thead th {
    padding: 2px 4px;
    vertical-align: middle;
    border-bottom: 0;
}

.tiny-rows tbody td {
    padding: 2px 4px;
    vertical-align: middle;
    border-bottom: 0;
}


.big-totals tfoot {
    font-size: 14px;
    font-style: normal;
}

.big-totals tfoot td {
    padding: 4px 8px;
}

.bierlijst-dropdown {
    margin-top: 4px;
    width: 100%;
    padding: 3px 5px 0px 5px;
    white-space: nowrap;
}

.bierlijst-dropdown button {
    border: 0;
    padding: 5px 0px 0px 15px;
    margin: 0;
    background: none;
    width: 100%;
    text-align: left;
}

.bierlijst-dropdown button:hover {
    background: #39f;
    color: #fff;
    cursor: pointer;
    cursor: hand;
}

.bierlijst-dropdown li {
    margin-left: 0px;
    padding: 0px 10px;
}


/* CUSTOM STYLING */

/* medal colors */
.gold {
    background-color: #e4c752;
}
.silver {
    background-color: #C0C0C0;
}
.bronze {
    background-color: #b39a6b;
}

.gold-icon {
    color: #e4c752;
}
.silver-icon {
    color: #C0C0C0;
}
.bronze-icon {
    color: #b39a6b;
}

/* bierlijst form styling */

.form-large {
    width: 12em;
    border-right: 1px dotted #bbb;
}
.form-large form {
    width: 12em;
}

.form-medium {
    width: 10em;
    border-right: 1px dotted #bbb;
}
.form-medium form {
    width: 10em;
}

.form-small {
    width: 8em;
    border-right: 1px dotted #bbb;
}
.form-small form {
    width: 8em;
}

.form-mini {
    width: 7em;
    border-right: 1px dotted #bbb;
}
.form-mini form {
    width: 7em;
}

/* table styling */

.basic-table {
    background: #eaeaea;
    border: 1px solid #bbb;
}

.basic-table thead {
    border-bottom: 2px solid #bbb;
}

.basic-table tfoot {
    border-top: 2px solid #bbb;
}

.table-dotted th, .table-dotted td {
    border-right: 1px dotted #bbb;
}

.days-table {
    max-width: 3em;
}

.names-table {
    width: 4.5em;
}

.names-table-small {
    width: 3em;
}

/* page styling */
.content-box {
    background: #eaeaea;
    border: 1px solid #bbb;
}

.tab-content {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* navigation styling */
nav {
    position: relative;
    z-index: 100;
}

#quick-access {
    position: relative;
    z-index: 10;
    margin-top:2em;
    background-color:rgba(255, 255, 255, 0.8);
}