@font-face {
    font-family: lfFont;
    src: url(../fonts/BAHNSCHRIFT.TTF);
    color: #000000;
}

body {
    /*background-color: #404040;*/
    background: rgb(48, 48, 48);
    background: radial-gradient(circle at top, rgba(48, 48, 48, 1) 0%, rgba(37, 37, 37, 1) 100%);
    color: #000000;
    /*border-color: #5a5a5a;*/
}

* {
    font-family: 'lfFont', sans-serif;
}

.lf-nav {
    background: #818181;
    border-width: 3px;
}

.uk-active-lf {
    background: #333333;
}

.uk-block-primary {
    background-color: #818181 !important;
}

.uk-navbar-nav li a {
    color: white;
    text-shadow: 0 1px #787878;
    font-family: lfFont, sans-serif;
}

.uk-navbar-nav li a:hover {
    background: #444444;
    color: white;
    /*text-shadow: 0 1px #44a8e6;*/
}

.uk-navbar-toggle {
    text-shadow: none;
}

.uk-breadcrumb {
    padding-top: 1px;
    text-shadow: 1px 1px darkcyan;
}

.uk-dropdown-lf {
    background-color: #44a8e6;
}

/* Home panels */
.uk-panel {
    /*color: #9f9f9f;*/
    color: #d1d1d1;
    /*https://html-css-js.com/css/generator/text-shadow/*/
    text-shadow: 0px 0px 10px rgba(100, 100, 100, 0.7);
    background-color: #7d7d7d;
    border-color: #5a5a5a;
    border-radius: 0;
    /*https://html-css-js.com/css/generator/box-shadow/*/
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.56);
}

.uk-table, .uk-tab {
    /*background-color: #7d7d7d;*/
    color: #000000;
}

.uk-panel-teaser {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.uk-panel-title {
    color: #d1d1d1 !important;
}

.uk-button {

    font-stretch: extra-condensed !important;
    border-radius: 3px;
    color: #3c3c3c;
}

.uk-button:hover {
    background-color: #5a5a5a;
}

.uk-button:focus {
    background-color: #ae060d;
}

@media (min-width: 500px) {
    .uk-button {
        font-size: 16pt;
    }
    .uk-button-group {
        font-size: 12pt;
    }

    .uk-button-small {
        font-size: 10pt;
    }
}

.uk-text-success {
    color: black !important;
    text-shadow: 1px 1px green;
}

.uk-button-group .uk-button {
    background-color: #8f8f8f;
    color: #d1d1d1;
    text-shadow: 0 0 10px rgba(100, 100, 100, 0.15);
}

.uk-button-primary, .uk-button-success, .uk-button-danger {
    background-color: #DE0611;
}

hr {
    border-color: rgba(0, 0, 0, 0);
}

.nav-strip {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
    padding: 0;
    list-style: none;
}

.repeated-strip {
    background: url("/static/img/lf/film_strip.svg") right repeat-x;
    background-size: 110px 60px;
    /*https://codepen.io/sosuke/pen/Pjoqqp*/
    /*https://css-tricks.com/change-color-of-svg-on-hover/*/
    filter: invert(57%) sepia(0%) saturate(1054%) hue-rotate(203deg) brightness(93%) contrast(95%);
    height: 60px;
    width: 43%;
    margin: 15px 10% 15px -2%;
}

.repeated-strip-left-oriented {
    background: url("/static/img/lf/film_strip.svg") left repeat-x;
    background-size: 110px 60px;
    margin: 15px -2% 15px 10%;
}

@keyframes cyclecolor {
    from, to {
        filter: drop-shadow(0.5rem 0.5rem 0.5rem firebrick)
    }
    25%, 75% {
        filter: drop-shadow(-0.5rem 0.5rem 2rem firebrick);
    }
    50% {
        filter: drop-shadow(0 0 7rem firebrick);
    }
}

.center-logo {
    opacity: 0.85;
    width: 14%;
    margin-left: -8%;
    margin-right: -8%;
    background: url("/static/img/lf/DS4_logo.png") no-repeat center;
    background-size: 120px;
    padding-top: 10px;
    overflow: visible;
    transition: opacity 1s ease-in-out;
}

.center-logo:hover {
    animation: cyclecolor 5s ease-in-out infinite;
    opacity: 1.0;
}

.strip-nav-text {
    margin: 5px 5px 5px 5px;
    padding: 15px 5px 15px 5px;
    width: 90px;
    text-align: center;
    font-size: 15pt;
    transition: filter 0.25s ease-in-out;
}

a, a:hover {
    color: #d1d1d1 !important;
    text-decoration: none;
}

a:active {
    color: #e1e1e1 !important;
}

.strip-nav-text:hover {
    background-color: rgba(3, 3, 3, 0.08);
    filter: drop-shadow(0 0.2rem 1.5rem crimson);
}

.repeated-strip > .strip-nav-text {
    float: right;
}

.repeated-strip-left-oriented > .strip-nav-text {
    float: left;
}