@font-face {
    font-family: lfFont;
    src: url(../fonts/BAHNSCHRIFT.TTF);
}

body {
    /*background-color: #404040;*/
    background: rgb(48, 48, 48);
    background: radial-gradient(circle at top, rgba(48, 48, 48, 1) 0%, rgba(37, 37, 37, 1) 100%);
    color: #818181;
    border-color: #5a5a5a;
}

* {
    font-family: 'lfFont', sans-serif;
}

.lf-nav {
    background: #818181;
    border-width: 3px;
}

.uk-active-lf {
    background: #333333;
}

.uk-block-primary {
    background-color: #818181 !important;
}

.uk-navbar-nav li a {
    color: white;
    text-shadow: 0 1px #787878;
    font-family: lfFont, sans-serif;
}

.uk-navbar-nav li a:hover {
    background: #444444;
    color: white;
    /*text-shadow: 0 1px #44a8e6;*/
}

.uk-navbar-toggle {
    text-shadow: none;
}

.uk-breadcrumb {
    padding-top: 1px;
    text-shadow: 1px 1px darkcyan;
}

.uk-dropdown-lf {
    background-color: #44a8e6;
}

/* Home panels */
.uk-panel {
    /*color: #9f9f9f;*/
    color: #d1d1d1;
    /*https://html-css-js.com/css/generator/text-shadow/*/
    text-shadow: 0px 0px 10px rgba(100, 100, 100, 0.7);
    background-color: #7d7d7d;
    border-color: #5a5a5a;
    border-radius: 0;
    /*https://html-css-js.com/css/generator/box-shadow/*/
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.56);
}

.uk-panel-title {
    color: #d1d1d1 !important;
}

.uk-button {
    font-size: 16pt;
    font-stretch: extra-condensed !important;
    border-radius: 3px;
    color: #3c3c3c;
}

.uk-button:hover {
    background-color:#5a5a5a;
}
.uk-button:focus {
    background-color: #ae060d;
}
.uk-button-group {
    font-size: 12pt;
}

.uk-button-small {
    font-size: 10pt;
}

.uk-button-group .uk-button {
    background-color: #8f8f8f;
    color: #d1d1d1;
    text-shadow: 0px 0px 10px rgba(100, 100, 100, 0.15);
}

.uk-button-primary, .uk-button-success, .uk-button-danger {
    background-color: #DE0611;
}


hr {
    border-color: rgba(0, 0, 0, 0);
}