<mat-divider></mat-divider>
<mat-nav-list dense>
    <h2 matSubheader> General </h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/turf" routerLinkActive="list-item-active" (click)="onSidenavClose()">
        <mat-icon>equalizer</mat-icon>
        <span class="nav-caption">Turf List</span>
    </a>
    <a mat-list-item routerLink="/dinner" routerLinkActive="list-item-active" (click)="onSidenavClose()">
        <mat-icon>fastfood</mat-icon>
        <span class="nav-caption">Dinner List</span>
    </a>
    <a mat-list-item routerLink="/organization" routerLinkActive="list-item-active" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon>
        <span class="nav-caption">Organization</span>
    </a>

    <mat-divider></mat-divider>
    <h2 matSubheader>Manager</h2>
    <mat-list-item [matMenuTriggerFor]="menuReceipt">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Receipts</a>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="menuThesau">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Thesau</a>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="menuAdmin">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Admin</a>
    </mat-list-item>
    <mat-menu #menuReceipt="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">View receipts</button>
        <button mat-menu-item (click)="onSidenavClose()">Upload receipt</button>
    </mat-menu>
    <mat-menu #menuThesau="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">Manage finances</button>
        <button mat-menu-item (click)="onSidenavClose()">Manage receipts</button>
    </mat-menu>
    <mat-menu #menuAdmin="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">Manage housemates</button>
        <button mat-menu-item (click)="onSidenavClose()">Create housemate</button>
        <button mat-menu-item (click)="onSidenavClose()">Move-out housemate</button>
    </mat-menu>

    <mat-divider></mat-divider>
    <h2 matSubheader>Profile</h2>
    <a mat-list-item routerLink="/profile" routerLinkActive="list-item-active" (click)="onSidenavClose()">
        <mat-icon>perm_identity</mat-icon>
        <span class="nav-caption">Profile</span>
    </a>
    <a mat-list-item routerLink="/logout" (click)="onSidenavClose()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="nav-caption">Logout</span>
    </a>
</mat-nav-list>
