{% extends 'base/base.html' %}
{% load static from static %}
{% block title %} |
Home
{% endblock %}
{% block body_block %}

<div class="uk-grid">
    <div class="uk-width-1-1 uk-hidden-small" style="margin-top: 2em;">
        {% if user.is_authenticated and request.user.username != 'huis' %}
        <div class="uk-grid">
            {% include 'home/notifications.html' %}
        </div>
        {% else %} {% include 'base/login_form.html' %} {% endif %}
    </div>
</div>

<div class="uk-grid uk-visible-small">
    {% if user.is_authenticated and request.user.username != 'huis' %}
    <div class="uk-width-1-1">
        {% include 'home/quick_access.html' %}
    </div>
    {% include 'home/notifications.html' %} {% elif not user.is_authenticated %}
    <div class="uk-width-1-1">
        <div style="margin-left: 1em; margin-right: 1em;">
            <div class="uk-panel uk-panel-box" style="margin-top: 2em; background-color: rgba(255, 255, 255, 0.8);">
                <p>
                    <a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="contact/"><i
                            class="uk-icon-map-marker"></i> Contact & Route</a>
                </p>
                <p>
                    <a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="user/login/"><i
                            class="uk-icon-sign-in"></i> Inloggen</a>
                </p>
            </div>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}
