{% load static from staticfiles %}
{% load parse_iso from date_parse %}
{% block add_to_header %}
<link rel="stylesheet" href="{% static '/css/lf/slideshow.css' %}"/>
<script src="{% static '/js/lf/slideshow.js' %}"></script>
{% endblock %}

<script>
    var clipboard = new ClipboardJS('[data-clipboard-text]', function (trigger) {
        return trigger;
    });

    clipboard.on('success', function (e) {
        UIkit.notify("<i class='uk-icon-check'></i> Copied the mediaserver URL!", {status: 'success'});
        e.clearSelection();
    });
</script>

<div class="uk-width-1-3 uk-visible-large">
    <div class="uk-panel uk-panel-box uk-panel-box-primary" style="background-color: rgba(0,0,0,0);">
        <div class="uk-panel-teaser slideshow-container" data-slides="4">
            <div class="mySlides fade">
                <img src="{% static '/img/lf/1.jpg'%}" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="{% static '/img/lf/2.jpg'%}" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="{% static '/img/lf/4.jpg'%}" style="width:100%">
            </div>
            <div class="mySlides fade">
                <div style="height:500px;background-color: black; text-align: center; padding-top: 250px;"> More to come... </div>
            </div>            
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</div>

<div class="uk-width-1-3 uk-visible-large">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-teaser" style="max-height:200px">
            <img src="{% static '/img/resource/3.JPG' %}" alt="Sven HV">
        </div>
        <div class="uk-panel-badge uk-badge uk-badge-warning">Upcoming</div>
        <h3 class="uk-panel-title"><i class="uk-icon-newspaper-o"></i> DS4 events</h3>
        <ul>
            {% for r in google_cal_events.result %}
                <li>{{ r.start.dateTime |parse_iso }} - <strong>{{ r.summary }}</strong>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="uk-width-1-3 uk-visible-large">
    {% include 'home/quick_access_lf.html' %}
</div>

{# Small devices #}
<div class="uk-width-1-1 uk-hidden-large">
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-teaser" style="max-height:200px">
            <img src="{% static '/img/resource/3.JPG' %}" alt="Sven HV">
        </div>
        <div class="uk-panel-badge uk-badge uk-badge-warning">Upcoming</div>
        <h3 class="uk-panel-title"><i class="uk-icon-newspaper-o"></i> DS4 events</h3>
        <ul>
            {% for r in google_cal_events.result %}
                <li>{{ r.start.dateTime |parse_iso }} - <strong>{{ r.summary }}</strong>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="uk-width-1-1 uk-hidden-large">
    <div class="uk-panel uk-panel-box uk-panel-box-primary" style="height:350px;">
        <div class="uk-panel-teaser" style="max-height:200px">
            <img src="{% static '/img/resource/2.JPG' %}" alt="Wiki added">
        </div>
        <div class="uk-panel-badge uk-badge uk-badge-danger">Hot</div>
        <a href="\wiki"><h3 class="uk-panel-title"><i class="uk-icon-newspaper-o"></i> Wiki - DS4 Knowledge Base</h3>
        </a>
        Add content for missing pages (stubs)!<br/>

        <a href="\wiki" class="uk-button uk-button-success uk-button-small uk-width-1-1">Wiki
        </a>
    </div>
</div>
