<div class="turf-form uk-panel uk-panel-box" style="margin-top:2em; background-color:rgba(255, 255, 255, 0.8);">
    <form class="uk-form uk-margin-remove">
        {% csrf_token %}
        <input class="count-{{ request.user.id }}" type="hidden" name="count" value="1">
        <div class="uk-form-row">
            <button data-user="{{ request.user.id }}" data-type="bier" class="btn-turf uk-button uk-button-large uk-width-1-1 uk-button-primary uk-hidden-small"><i class="uk-icon-plus-circle"></i> Turf bier</button>
            <div class="uk-button-group uk-width-1-1 uk-visible-small">
                <button data-user="{{ request.user.id }}" data-type="bier" class="btn-turf uk-button uk-button-large uk-width-3-5 uk-button-primary"><i class="uk-icon-plus-circle"></i> Turf bier</button>
                <a class="uk-button uk-button-large uk-width-2-5 uk-button-primary" href="bierlijst/"><i class="uk-icon-link"></i> Bierlijst</a>
            </div>
        </div>
    </form>

    <div class="uk-form-row uk-margin-top" id="user-{{ request.user.id }}">
        <div class="sum-bier uk-button-group  uk-width-1-1">
            <button class="uk-button uk-width-1-2" disabled>Bier: <span>{{ user_info.sum_bier }}</span>{% if request.user.id in medals %} <i class="uk-icon-circle{% if request.user.id == medals.0 %} gold-icon{% endif %}{% if request.user.id == medals.1 %} silver-icon{% endif %}{% if request.user.id == medals.2 %} bronze-icon{% endif %}"></i>{% endif %}</button>
            <button class="uk-button uk-width-1-2" disabled>Wijn: {{ user_info.sum_wijn }}</button>
        </div>
    </div>
    {% comment %}
    <hr>

    <form class="uk-form uk-margin-remove" method="post" action="/eetlijst/{% if eetlijst_info.0 == request.user.housemate.display_name %}close{% else %}enroll{% endif %}/">
        {% csrf_token %}
        <input type="hidden" name="enroll-user" value="{{ request.user.id }}">
        <input type="hidden" name="enroll-date" value="{{ focus_date }}">
        <input type="hidden" name="close-date" value="{{ focus_date }}">
        <div class="uk-form-row">
            {% if eetlijst_info.0 == request.user.housemate.display_name and not eetlijst_info.3 %}
            <button class="uk-button uk-button-large uk-width-1-1 uk-hidden-small" disabled><i class="uk-icon-smile-o"></i> Eet smakelijk!</button>
            {% elif eetlijst_info.0 == request.user.housemate.display_name %}
            <button type="submit" name="enroll-action" value="cook" class="uk-button uk-button-large uk-width-1-1 uk-button-danger uk-hidden-small"><i class="uk-icon-shopping-cart"></i> Lijst sluiten</button>
            {% elif eetlijst_info.2 == 0 %}
            <button type="submit" name="enroll-action" value="eat" class="uk-button uk-button-large uk-width-1-1 uk-button-success uk-hidden-small"><i class="uk-icon-plus-circle"></i> Mee eten</button>
            {% else %}
            <button type="submit" name="enroll-action" value="sponge" class="uk-button uk-button-large uk-width-1-1 uk-button-danger uk-hidden-small"><i class="uk-icon-minus-circle"></i> Uitschrijven</button>
            {% endif %}
            <div class="uk-button-group  uk-width-1-1 uk-visible-small">
                {% if eetlijst_info.0 == request.user.housemate.display_name and not eetlijst_info.3 %}
                <button class="uk-button uk-button-large uk-width-3-5" disabled><i class="uk-icon-smile-o"></i> Eet smakelijk!</button>
                <a class="uk-button uk-button-large uk-width-2-5" href="eetlijst/"><i class="uk-icon-link"></i> Eetlijst</a>
                {% elif eetlijst_info.0 == request.user.housemate.display_name %}
                <button type="submit" name="enroll-action" value="cook" class="uk-button uk-button-large uk-width-3-5 uk-button-danger"><i class="uk-icon-shopping-cart"></i> Lijst sluiten</button>
                <a class="uk-button uk-button-large uk-width-2-5 uk-button-danger" href="eetlijst/"><i class="uk-icon-link"></i> Eetlijst</a>
                {% elif eetlijst_info.2 == 0 %}
                <button type="submit" name="enroll-action" value="eat" class="uk-button uk-button-large uk-width-3-5 uk-button-success"><i class="uk-icon-plus-circle"></i> Mee eten</button>
                <a class="uk-button uk-button-large uk-width-2-5 uk-button-success" href="eetlijst/"><i class="uk-icon-link"></i> Eetlijst</a>
                {% else %}
                <button type="submit" name="enroll-action" value="sponge" class="uk-button uk-button-large uk-width-3-5 uk-button-danger"><i class="uk-icon-minus-circle"></i> Uitschrijven</button>
                <a class="uk-button uk-button-large uk-width-2-5 uk-button-danger" href="eetlijst/"><i class="uk-icon-link"></i> Eetlijst</a>
                {% endif %}
            </div>
        </div>

    </form>


    <form class="uk-form-row" method="post" action="/eetlijst/enroll/">
        {% csrf_token %}
        <input type="hidden" name="enroll-user" value="{{ request.user.id }}">
        <input type="hidden" name="enroll-date" value="{{ focus_date }}">
        <div class="uk-button-group  uk-width-1-1">
            <button type="submit" name="enroll-action" value="{% if eetlijst_info.2 == 0 %}cook{% else %}swap{% endif %}" class="uk-button uk-width-1-2"{% if not eetlijst_info.0 == 'Geen' %} disabled{% endif %}><img src="/static/img/chefs_hat.png" alt="Cook:" style="margin-top: -2px;" /> {{ eetlijst_info.0 }}</button>
            <button class="uk-button uk-width-1-4" disabled><i class="uk-icon-users"></i> {{ eetlijst_info.1 }}</button>
            <button class="uk-button uk-width-1-4" disabled><i class="uk-icon-eur"></i> <span class="{% if user_info.balance >= 0 %}uk-text-success{% else %}uk-text-danger{% endif %}">{% if user_info.balance >= 0 %}+{% endif %}{{ user_info.balance }}</span></button>
        </div>
    </form>
    {% endcomment %}
</div>