<table class="basic-table small-rows uk-table uk-table-hover">
    <caption><h5 class="uk-text-muted" style="font-style:normal">Log HO</h5></caption>
    {% if not ho_list|length == 0 %}
    <thead class="uk-h6">
        <tr>
            <th>Datum</th>
            <th>Naam</th>
            <th>Bedrag</th>
            <th>Omschrijving</th>
        </tr>
    </thead>
    <tbody>
        {% for i in ho_list %}
        <tr>
            <td>{{ i.time }}</td>
            <td>{{ i.user }}</td>
            <td>{{ i.amount }}</td>
            <td>{{ i.note }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tr><td class="uk-text-center uk-text-muted" style="padding:1em;">Geen items.</td></tr>
    {% endif %}
</table>

{% comment %}
<ul class="uk-pagination">
    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
    <li class="uk-disabled"><span><i class="uk-icon-angle-left"></i></span></li>
    <li class="uk-active"><span>1</span></li>
    <li><a href="">2</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="">10</a></li>
    <li><a href=""><i class="uk-icon-angle-right"></i></a></li>
    <li><a href=""><i class="uk-icon-angle-double-right"></i></a></li>
</ul>
{% endcomment %}