{% extends 'base/base.html' %}

{% load balance_color display_date date_data %}

{% block title %} | Eetlijst{% endblock %}

{% block add_to_header %}
<link rel="stylesheet" href="/static/css/components/datepicker.almost-flat.min.css">
<link rel="stylesheet" href="/static/css/components/tooltip.almost-flat.min.css">
<script src="/static/js/components/datepicker.min.js"></script>
<script src="/static/js/components/tooltip.min.js"></script>
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
    <div class="uk-grid uk-padding-remove" style="position:relative;" data-uk-grid-margin>
        <div class="uk-width-medium-7-10 uk-visible-large">
            {% include 'eetlijst/table.html' %}
        </div>
        <div class="uk-width-medium-6-10 uk-hidden-large">
            {% include 'eetlijst/table.html' %}
        </div>
        <div class="uk-width-medium-3-10 uk-visible-large">
            {% include 'eetlijst/options.html' %}
        </div>
        <div class="uk-width-medium-4-10 uk-hidden-large">
            {% include 'eetlijst/options.html' %}
        </div>
    </div>

    {% else %}
        {% include 'base/login_form.html' %}
    {% endif %}

{% endblock %}