<div class="uk-panel uk-panel-box">
    <h3 class="uk-panel-title">Opties</h3>
    <hr>
    <p><a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="/eetlijst/log/"><i class="uk-icon-archive"></i> Log kosten</a></p>

    <hr>
    <p>To do:</p>
    <ul>
        <li>Finish formatting</li>
        <li>Backend</li>
        <li>Balance transfer</li>
        <li>HO items</li>
        <li>Time navigation</li>
        <li>Statistics page</li>
        <li>Push notifications</li>
    </ul>
</div>