<form class="signup-form uk-form uk-width-1-1">
    {% csrf_token %}
    <div class="uk-button-group uk-width-1-1">
        <button data-user="{{ u.user_id }}" data-date="{{ focus_date }}" data-type="signup" class="btn-signup uk-button uk-button-small uk-width-1-3
        {% if u.user_id == request.user.id %} uk-button-primary{% endif %}" {% if not focus_open %} disabled{% endif %}>
            <i class="uk-icon-times uk-icon-small"></i>
        </button>
        <button data-user="{{ u.user_id }}" data-date="{{ focus_date }}" data-type="cook" class="btn-signup btn-cook uk-button uk-button-small uk-width-1-3
        {% if u.user_id == request.user.id %} uk-button-primary{% endif %}"
        {% if not focus_open %} disabled
        {% elif focus_cook and not focus_date|is_cook:u.user.id %} disabled{% endif %}>
            <img src="/static/img/chefs_hat.png" alt="" style="margin-top: -2px;" />
        </button>
        <button data-user="{{ u.user_id }}" data-date="{{ focus_date }}" data-type="sponge" class="btn-signup uk-button uk-button-small uk-width-1-3
        {% if u.user_id == request.user.id %} uk-button-primary{% endif %}"{% if not focus_open %} disabled{% endif %}>
            <img src="/static/img/sponge_bob{% if not focus_open %}_gray{% endif %}.png" alt="" />
        </button>
    </div>
</form>