<form class="uk-form uk-width-1-1" method="post" action="/eetlijst/">
    {% csrf_token %}
    <div class="uk-button-group uk-width-1-1">
        <button type="submit" name="eat" value="eat" class="uk-button uk-button-small uk-width-1-3 {% if u.user_id == request.user.id %}uk-button-primary{% endif %}"><i class="uk-icon-times uk-icon-small"></i></button>
        <button type="submit" name="cook" value="cook" class="uk-button uk-button-small uk-width-1-3 {% if u.user_id == request.user.id %}uk-button-primary{% endif %}"><img src="/static/img/chefs_hat.png" alt="" /></button>
        <button type="submit" name="sponge" value="sponge" class="uk-button uk-button-small uk-width-1-3 {% if u.user_id == request.user.id %}uk-button-primary{% endif %}"><img src="/static/img/sponge_bob.png" alt="" /></button>
    </div>
</form>