<table class="basic-table small-rows big-totals uk-table uk-table-hover table-dotted">
    <thead class="uk-h6">
        <tr>
            <th></th>
            <th class="names-table uk-hidden-small">Naam</th>
            <th class="names-table-small uk-visible-small uk-text-small">Naam</th>
            <th class="uk-text-center" style="padding: 4px;">Saldo</th>
            {% for n, d in date_list.items %}
            <th class="days-table {% if d.2 == False %}uk-visible-large {% endif %}uk-text-center"{% if d.3 == False %} style="background-color:rgba(187,187,221,0.5);"{% elif d.2 == True %} style="background-color:rgba(255,216,0,0.3);"{% endif %}>
                <a href="{{ d.1|link_date }}">{{ d.0 }}</a>
                {% if d.1|is_cook:request.user.id and not d.1|cost_entered %}
                <form method="post" action="/eetlijst/close/" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="close-date" value="{{ d.1|sub_date }}">
                <button class="uk-button uk-button-mini uk-button-link uk-padding-remove"><i class="uk-icon-shopping-cart"></i></button>
                </form>
                {% endif %}
                <br>
                <span class="uk-text-muted uk-text-small">{{ d.1|disp_date }}</span>
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td>Totaal</td>
            <td class="uk-text-center">{{ total_balance }} </td>
            {% for n, d in date_list.items %}
            <td class="days-table {% if d.2 == False %}uk-visible-large {% endif %}uk-text-center">{{ d.1|day_total }}</td>
            {% endfor %}
        </tr>
    </tfoot>
    <tbody>
        {% for u in user_list %}
        <tr>
            <td class="uk-margin-remove form-small">
                {% include 'eetlijst/signup_form.html' %}
            </td>

            <td class="names-table uk-hidden-small">{{ u }}{% if u.diet %} <i class="uk-icon-exclamation-circle uk-icon-hover" data-uk-tooltip="{pos:'right'}" title="{{ u.diet }}"></i>{% endif %}</td>
            <td class="names-table-small uk-visible-small uk-text-small">{{ u }}</td>
            <td class="uk-text-center uk-hidden-small" style="width:4em;background-color:rgba( {{ u.balance|bal_color }} );"> {% if u.balance > 0 %}+{% endif %}{{ u.balance }}</td>
            <td class="uk-text-center uk-text-small uk-visible-small" style="width: 3em; padding: 4px; background-color:rgba({{ u.balance|bal_color }});">{% if u.balance > 0 %}+{% endif %}{{ u.balance }}</td>

                {% for n, d in date_list.items %}
                    {% include 'eetlijst/table_cell.html' %}
                {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>