<table class="small-rows big-totals uk-table uk-table-hover" style="border:1px solid #CCC">
    <thead class="uk-h6" style="border-bottom:2px solid #CCC;">
        <tr>
            <th></th>
            <th>Naam</th>
            <th class="uk-text-center" style="padding: 4px;">Saldo</th>
            {% for n, d in date_list.items %}
            <th class="{% if d.2 == False %}uk-visible-large {% endif %}uk-text-center"{% if d.3 == False %} style="background-color:rgba(187,187,221,0.5);"{% elif d.2 == True %} style="background-color:rgba(255,216,0,0.3);"{% endif %}>
                <a href="{{ d.1|link_date }}">{{ d.0 }}</a>
                {% if d.1|is_cook:request.user.id and not d.1|cost_entered %}
                <form method="post" action="/eetlijst/close/" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="close-date" value="{{ d.1|sub_date }}">
                <button class="uk-button uk-button-link uk-padding-remove"><i class="uk-icon-shopping-cart"></i></button>
                </form>
                {% endif %}
                <br>
                <span class="uk-text-muted uk-text-small">{{ d.1|disp_date }}</span>
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot style="border-top:2px solid #CCC">
        <tr>
            <td></td>
            <td>Totaal</td>
            <td class="uk-text-center">{{ total_balance }}</td>
            {% for n, d in date_list.items %}
            <td class="{% if d.2 == False %}uk-visible-large {% endif %}uk-text-center">{{ d.1|day_total }}</td>
            {% endfor %}
        </tr>
    </tfoot>
    <tbody>
        {% for u in user_list %}
        <tr>
            <td class="uk-margin-remove uk-hidden-small form-medium">
                {% include 'eetlijst/signup_form.html' %}
            </td>

            <td class="uk-margin-remove uk-visible-small form-small">
                {% include 'eetlijst/signup_form.html' %}
            </td>

            <td>{{ u }}</td>
            <td class="uk-text-center uk-hidden-small" style="width: 4em; background-color:rgba({{ u.balance|bal_color }});">{% if u.balance > 0 %}+{% endif %}{{ u.balance }}</td>
            <td class="uk-text-center uk-text-small uk-visible-small" style="width: 3em; padding: 4px; background-color:rgba({{ u.balance|bal_color }});">{% if u.balance > 0 %}+{% endif %}{{ u.balance }}</td>
            {% for n, d in date_list.items %}
            <td class="{% if d.2 == False %}uk-visible-large {% endif %}uk-text-center"{% if d.3 == False %} style="background-color:rgba(187,187,221,0.5);"{% elif d.2 == True %} style="background-color:rgba(255,216,0,0.3);"{% endif %}>
                {% if not d.1|cost:u.user.id == 0 %}<span class="uk-text-small">{% if not d.1|is_cook:u.user.id %}-{% endif %}{{ d.1|cost:u.user.id }}</span> ({% endif %}
                {% if d.1|is_cook:u.user.id %}<img src="/static/img/chefs_hat.png" alt="" style="margin-top: -3px; width: 12px; height: 12px;" />{% endif %}
                {% if d.1|eating_with:u.user.id %}<i class="uk-icon-times"></i>{% if d.1|eating_with:u.user.id > 1 %}<span class="uk-text-small">{{ d.1|eating_with:u.user.id }}</span>{% endif %}{% endif %}
                {% if not d.1|cost:u.user.id == 0 %}){% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>