<div class="tab_content uk-grid uk-text-center" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">

    <div class="uk-width-1-2 uk-text-left">
        <h3>Eetlijst</h3>
        <hr>
        <table class="uk-width-1-1">
            <tr>
                <td>Kook ingeschriven</td>
                <td><a href=""><i class="uk-icon-toggle-on"></i></a></td>
            </tr>
            <tr>
                <td>Kook uitgeschriven</td>
                <td><a href=""><i class="uk-icon-toggle-on"></i></a></td>
            </tr>
            <tr style="margin-bottom: 2em;">
                <td>Alleen als je ingeschreven bent</td>
                <td><a href=""><i class="uk-icon-toggle-on"></i></a></td>
            </tr>
            <tr><td colspan="2" style="height: 1em;"></td></tr>
            <tr>
                <td>Eetlijst gesloten</td>
                <td><a href=""><i class="uk-icon-toggle-on"></i></a></td>
            </tr>
            <tr>
                <td>Laag saldo (-€25)</td>
                <td><a href=""><i class="uk-icon-toggle-on"></i></a></td>
            </tr>
        </table>
    </div>
    <div class="uk-width-1-2 uk-text-left">
        <h3>Bierlijst</h3>
        <hr>
        <table class="uk-width-1-1">
            <tr>
                <td>Boete toegevoegd</td>
                <td><a href=""><i class="uk-icon-toggle-on"></i></a></td>
            </tr>
            <tr>
                <td>Bierlijst medal kwijt</td>
                <td><a href=""><i class="uk-icon-toggle-on"></i></a></td>
            </tr>
        </table>
    </div>

</div>