<div class="uk-panel uk-panel-box">
    <h2>{{ profile_user }}</h2>
    <span class="uk-text-muted">{{ profile_user.movein_date }}</span>
    <hr>
    <h4>Selecteer andere huisgenoot</h4>
    <form action="{{ request.path }}" method="get">
        <select name="housemate" class="uk-width-1-1 uk-form-small">
            <option value="0" selected="true" disabled>Huisgenoot</option>
            {% for u in user_list %}
            {% if not u == request.user.housemate %}
            <option value="{{ u.user_id }}">{{ u }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </form>
</div>