{% extends 'base/base.html' %}

{% block title %} | Profiel{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
    <div class="uk-grid uk-padding-remove" style="position:relative;" data-uk-grid-margin>
        <div class="uk-width-medium-7-10">
            <ul class="uk-tab" data-uk-tab="{connect:'#tab-container', animation: 'fade'}">
                {% if profile_user.user.id == request.user.id %}
                <li><a href=""><i class="uk-icon-user"></i> Profiel</a></li>
                {% else %}
                Je mag alleen je eigen profiel zien.
                {% endif %}
                {% comment %}
                <li><a href=""><i class="uk-icon-cog"></i> Bewerken</a></li>
                <li><a href=""><i class="uk-icon-exclamation-triangle"></i> Notificaties</a></li>
                {% endcomment %}
            </ul>

            <ul id="tab-container" class="uk-switcher tab-content">
                {% if profile_user.user.id == request.user.id %}
                <li>{% include 'user/profile_edit.html' %}</li>
                {% else %}
                Je mag alleen je eigen profiel zien.
                {% endif %}

                {% comment %}
                <li>{% include 'user/profile_edit.html' %}</li>
                <li>{% include 'user/notifications.html' %}</li>
                {% endcomment %}
            </ul>


        </div>
        <div class="uk-width-medium-3-10" style="margin-top: 2.5em;">
            {% include 'user/profile_options.html' %}
        </div>
    </div>

    {% else %}
        {% include 'base/login_form.html' %}
    {% endif %}

{% endblock %}