<div class="tab_content" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">
    <div class="uk-grid uk-container-center" style="max-width: 40em">

        <div class="uk-width-4-5 uk-container-center uk-padding-remove">
            <h4 class="uk-text-muted">Wijzig profiel</h4>
            <hr>
            <br/>
        </div>

        <div class="uk-alert uk-alert-warning uk-align-center">
            <span class="uk-align-right uk-text-small">Je hebt administratorrechten nodig om andere profielen aan te passen.</span>
        </div>

        <div class="uk-width-4-5 uk-container-center uk-padding-remove uk-margin-large-top">
            <h4 class="uk-text-muted">Wijzig wachtwoord</h4>
            <hr>
            <br/>
        </div>

        <div class="uk-alert uk-alert-warning uk-align-center">
            <span class="uk-align-right uk-text-small">Je hebt administratorrechten nodig om wachtwoorden aan te passen.</span>
        </div>

    </div>
</div>