<div class="tab_content" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">
    <div class="uk-grid uk-container-center" style="max-width: 40em">

        <div class="uk-width-4-5 uk-container-center uk-padding-remove">
            <h4 class="uk-text-muted">Wijzig profiel</h4>
            <hr><br>
        </div>

        <form class="profile-form uk-form uk-form-stacked uk-container-center uk-padding-remove uk-width-4-5" action="{{ request.path }}" method="POST">
            {% with h=profile_user %}
            {% csrf_token %}

            <input type="hidden" name="profile-edit-type" value="profile" />

            <label class="uk-form-label" for="first-name">Voornaam:</label>
            <input class="uk-width-1-1" type="text" name="first-name" value="{{ h.user.first_name }}" disabled><br><br>

            <label class="uk-form-label" for="last-name">Achternaam:</label>
            <input class="uk-width-1-1" type="text" name="last-name" value="{{ h.user.last_name }}" disabled><br><br>

            <label class="uk-form-label" for="email">Email:</label>
            <input class="uk-width-1-1" type="text" name="email" value="{{ h.user.email }}"><br><br>

            <label class="uk-form-label" for="cell-phone">Cell:</label>
            <input class="uk-width-1-1" type="text" name="cell-phone" value="{{ h.cell_phone }}"><br><br>

            <label class="uk-form-label" for="parent-phone">Ouders:</label>
            <input class="uk-width-1-1" type="text" name="parent-phone" value="{{ h.parent_phone }}"
            {% if h.user.id == 2 %} disabled {% endif %}><br><br>

            <label class="uk-form-label" for="diet">Diet:</label>
            <input class="uk-width-1-1" type="text" name="diet" value="{{ h.diet }}"
            {% if h.user.id == 2 %} disabled {% endif %}><br><br>

            <button type="submit" name="profile-submit" value="user" class="uk-button uk-button-primary uk-float-right">Opslaan <i class="uk-icon-save"></i></button>

            {% endwith %}
        </form>

        <div class="uk-width-4-5 uk-container-center uk-padding-remove uk-margin-large-top">
            <h4 class="uk-text-muted">Wijzig wachtwoord</h4>
            <hr><br>
        </div>

        {% if profile_user.user.id == 2 %}
            <div class="uk-alert uk-alert-warning uk-align-center">
                <span class="uk-align-right uk-text-small">Dit wachtwoord kan niet aangepast worden!</span>
            </div>
        {% else %}

            <form class="uk-form uk-form-stacked uk-container-center uk-padding-remove uk-width-4-5" action="{{ request.path }}" method="POST">
                {% with h=profile_user %}
                {% csrf_token %}

                <input type="hidden" name="profile-edit-type" value="password" />

                <label class="uk-form-label" for="current-pass">Huidig wachtwoord:</label>
                <input class="uk-width-1-1" type="password" name="current-pass"><br><br>

                <label class="uk-form-label" for="new-pass">Nieuw wachtwoord:</label>
                <input class="uk-width-1-1" type="password" name="new-pass"><br><br>

                <label class="uk-form-label" for="verify-pass">Herhaal wachtwoord:</label>
                <input class="uk-width-1-1" type="password" name="verify-pass"><br><br>

                <button type="submit" name="profile-submit" value="user" class="uk-button uk-button-primary uk-float-right">Opslaan <i class="uk-icon-save"></i></button>
                {% endwith %}
            </form>

        {% endif %}

    </div>
</div>