<div class="tab_content" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">
    <div class="uk-grid uk-container-center" style="max-width: 40em">

        <div class="uk-width-4-5 uk-container-center uk-padding-remove">
            <h4 class="uk-text-muted">Change profile</h4>
            <hr>
            <br/>
        </div>

        <div class="uk-alert uk-alert-warning uk-align-center">
            <span class="uk-align-right uk-text-small">You need admin rights in order to change user profiles.</span>
        </div>

        <div class="uk-width-4-5 uk-container-center uk-padding-remove uk-margin-large-top">
            <h4 class="uk-text-muted">Change password</h4>
            <hr>
            <br/>
        </div>

        <div class="uk-alert uk-alert-warning uk-align-center">
            <span class="uk-align-right uk-text-small">You need admin rights in order to change user passwords.</span>
        </div>

    </div>
</div>