<section fxLayout="column" fxFlexAlign="stretch">
    <mat-card>
        <div *ngIf="!isAdmin">
            <p>You are not allowed to edit this user. Become admin, or drink a beer or two.</p>

            <button mat-icon-button routerLink="/">
                <mat-icon>arrow_back</mat-icon> back to home
            </button>
        </div>
        <div *ngIf="isAdmin && !editedUser">
            <p>You are not allowed to edit moved-out users. Speak to your admin.</p>
        </div>
        <div *ngIf="isAdmin">
            <button mat-icon-button routerLink="/admin/user-manage">
                <mat-icon>arrow_back</mat-icon> back to admin
            </button>
        </div>
        <div class="container" *ngIf="editedUser"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
            <div fxFlex="5%" style="background-color: #08264D"></div>
            <div class="item item-2" fxFlex>
                <h1>Profile</h1>
                <form [formGroup]="editUserForm" fxLayout="column">
                    <mat-form-field>
                        <input matInput placeholder="Email" type="email" formControlName="email"/>
                        <mat-error *ngIf="E('email')?.required">Email is required.</mat-error>
                        <mat-error *ngIf="E('email')?.email || E('email')?.pattern">
                            Email incorrect.
                        </mat-error>
                        <mat-error *ngIf="E('email')?.emailExists">This email exists already.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="First name" type="text" formControlName="first_name" required/>
                        <mat-error *ngIf="E('first_name')?.required">First name is required.</mat-error>
                        <mat-error *ngIf="E('first_name')?.minlength">First name needs to be >=2 characters.</mat-error>
                        <mat-error *ngIf="E('first_name')?.maxlength">First name needs to be <=30 characters.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last name" type="text" formControlName="last_name" required/>
                        <mat-error *ngIf="E('last_name')?.required">Last name is required.</mat-error>
                        <mat-error *ngIf="E('last_name')?.minlength">Last name needs to be >=2 characters.</mat-error>
                        <mat-error *ngIf="E('last_name')?.maxlength">Last name needs to be <=150 characters.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" formControlName="password"/>
                        <mat-error *ngIf="E('password')?.required">Password is required.</mat-error>
                        <mat-error *ngIf="E('password')?.minlength">Password needs to be >=6 characters.</mat-error>
                        <mat-error *ngIf="E('password')?.maxlength">Password needs to be <=150 characters.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password (repeat)" type="password"
                               formControlName="password_repeat"/>
                        <mat-error *ngIf="E('password_repeat')?.required">Password is required.</mat-error>
                        <mat-error *ngIf="E('password_repeat')?.minlength">Password needs to be >=6 characters.
                        </mat-error>
                        <mat-error *ngIf="E('password_repeat')?.maxlength">Password needs to be <=150 characters.
                        </mat-error>
                        <mat-error *ngIf="E('password_repeat')?.isNotMatching">Passwords are not equivalent.</mat-error>
                    </mat-form-field>
                </form>
            </div>
            <div class="item item-3" fxFlex>
                <h1>Housemate</h1>
                <form [formGroup]="editUserForm" fxLayout="column" novalidate>
                    <mat-form-field formGroupName="housemate">
                        <input matInput placeholder="Nickname" type="text" formControlName="display_name" required/>
                    </mat-form-field>
                     <mat-form-field formGroupName="housemate">
                        <input matInput placeholder="Room number" type="number" formControlName="room_number" required/>
                    </mat-form-field>
                    <mat-form-field formGroupName="housemate">
                        <input matInput placeholder="Diet" type="text" formControlName="diet"/>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="button"
                            [disabled]="!editUserForm.valid" (click)="editUser()">Edit user
                    </button>
                </form>
            </div>
            <div fxFlex="5%" style="background-color: #08264D"></div>
        </div>
    </mat-card>
</section>
