{% extends 'base/base.html' %}

{% block title %} | Contact{% endblock %}

{% block body_block %}

<div class="uk-grid uk-padding-remove" style="position:relative;" data-uk-grid-margin>
    <div class="uk-width-medium-7-10">
        <div class="uk-hidden-small">
            <iframe class="uk-width-1-1" style="height:40em; border:1px solid #CCC; padding:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB_ffN_Wz7vxC2Jo7Ku05TK3am-MMx85y4&q=Studentenhuis+Ds4,Pijnacker+NL&zoom=13&center=52.0164863,4.4101993" allowfullscreen></iframe>
        </div>
        <div class="uk-visible-small">
            <iframe class="uk-width-1-1" style="height:16em; border:1px solid #CCC; padding:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB_ffN_Wz7vxC2Jo7Ku05TK3am-MMx85y4&q=Studentenhuis+Ds4,Pijnacker+NL&zoom=11" allowfullscreen></iframe>
        </div>
    </div>
    <div class="uk-width-medium-3-10">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">Contact</h3>
            <hr>
            <p>
                Studentenhuis DS4<br>
                Delftsestraatweg 4<br>
                2641 NB Pijnacker
            </p>

            <p class="uk-margin-small-bottom">
                <i class="uk-icon-phone"></i> 015-3640070<br>
                <i class="uk-icon-envelope"></i> studentenhuisds4<i class="uk-icon-at"></i>gmail.com
            </p>
        </div>
        <iframe class="uk-width-1-1 uk-hidden-small" style="height:23.1em; border:1px solid #CCC; padding:0; margin-top:2em;" frameborder="0" src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyB_ffN_Wz7vxC2Jo7Ku05TK3am-MMx85y4&location=52.0167224,4.4213709&heading=282" allowfullscreen></iframe>
    </div>

</div>


{% endblock %}