{% extends 'ds4admin/index.html' %}

{% block content_block %}
<div class="uk-grid">
    <div class="uk-width-2-3 uk-container-center">

        <div class="uk-grid uk-margin-large-top">
            <div class="uk-width-1-2 uk-text-left"><h3>Category</h3></div>
            <div class="uk-width-1-2 uk-text-right"><h3>Balance</h3></div>
        </div>

        <hr class="uk-grid-divider uk-margin-small-top">

        <div class="uk-grid uk-text-bold">
            <div class="uk-width-1-2 uk-text-left">Actieve Huisgenoten</div>
            <div class="uk-width-1-2 uk-text-right">{{ active_balance }}</div>
        </div>
        <div id="active_list">
        {% for h in housemates %}
            <div class="uk-grid uk-margin-small-top">
                <div class="uk-width-1-2 uk-text-left uk-text-muted">{{ h }}</div>
                <div class="uk-width-1-2 uk-text-right uk-text-muted">{{ h.balance }}</div>
            </div>
        {% endfor %}
        </div>

        <div class="uk-grid uk-text-bold uk-margin-top">
            <div class="uk-width-1-2 uk-text-left">Inactieve Huisgenoten</div>
            <div class="uk-width-1-2 uk-text-right">{{ inactive_balance }}</div>
        </div>
        <div id="inactive_list">
        {% for h in inactive %}
            <div class="uk-grid uk-margin-small-top">
                <div class="uk-width-1-2 uk-text-left uk-text-muted">{{ h }}</div>
                <div class="uk-width-1-2 uk-text-right uk-text-muted">{{ h.balance }}</div>
            </div>
        {% endfor %}
        </div>

        <div class="uk-grid uk-text-bold uk-margin-top">
            <div class="uk-width-1-2 uk-text-left">Remainder</div>
            <div class="uk-width-1-2 uk-text-right">{{ remainder }}</div>
        </div>

        <div class="uk-grid uk-text-bold uk-text-large uk-margin-top uk-margin-large-bottom">
            <div class="uk-width-1-2 uk-text-left">Totale Balans</div>
            <div class="uk-width-1-2 uk-text-right">{{ overall_balance }}</div>
        </div>

    </div>
</div>

{% endblock %}