{% load get_params_url from resource_tags %}
<table class="basic-table small-rows uk-table uk-table-hover">
    <caption><h5 class="uk-text-muted" style="font-style:normal">Log fines</h5></caption>
    {% if not table_list.object_list|length == 0 %}
        <thead class="uk-h6">
        <tr>
            <th>Name</th>
            <th class="uk-text-center">Amount</th>
            <th class="uk-visible-large">Reason</th>
            <th>Time</th>
            {% if request.user|is_thesau or request.user|is_admin %}
                <th class="uk-visible-large uk-text-center">Remove</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for b in table_list.object_list %}
            <tr>
                <td>{{ b.boete_name }}</td>
                <td class="uk-text-center">{{ b.boete_count }}</td>
                <td class="uk-visible-large boete-note">{{ b.boete_note }}</td>
                <td>{{ b.created_time }} ({{ b.created_by }})</td>
                {% if request.user|is_thesau or request.user|is_admin %}
                    {% if b.id|can_del:b.boete_user_id %}
                        <td class="uk-visible-large uk-text-center">
                            <a class="uk-text-danger" href="/bierlijst/boetes/remove/{{ b.id }}/">
                                <i class="uk-icon-times-circle"></i>
                            </a>
                        </td>
                    {% else %}
                        <td class="uk-visible-large uk-text-center uk-text-muted">
                            <i class="uk-icon-times-circle"></i>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    {% else %}
        <tr>
            <td class="uk-text-center uk-text-muted" style="padding:1em;">No fines.</td>
        </tr>
    {% endif %}
</table>

{% if table_list.has_other_pages %}
    <ul class="uk-pagination">
        <li {% if page_num == '1' %}class="uk-disabled"{% endif %}>
            {% if not page_num == '1' %}
                <a href="{% url 'boetes' 1 %}{% get_params_url %}">
                    <i class="uk-icon-angle-double-left"></i>
                </a>
            {% else %}
                <span><i class="uk-icon-angle-double-left"></i></span>
            {% endif %}
        </li>
        <li {% if not table_list.has_previous %}class="uk-disabled"{% endif %}>
            {% if table_list.has_previous %}
                <a href="{% url 'boetes' table_list.previous_page_number %}{% get_params_url %}">
                    <i class="uk-icon-angle-left"></i>
                </a>
            {% else %}
                <span><i class="uk-icon-angle-left"></i></span>
            {% endif %}
        </li>
        <li class="uk-disabled"><span>{{ page_num }}/{{ pages }}</span></li>
        <li {% if not table_list.has_next %}class="uk-disabled"{% endif %}>
            {% if table_list.has_next %}
                <a href="{% url 'boetes' table_list.next_page_number %}{% get_params_url %}">
                    <i class="uk-icon-angle-right"></i>
                </a>
            {% else %}<span><i class="uk-icon-angle-right"></i></span>
            {% endif %}
        </li>
        <li {% if page_num == pages %}class="uk-disabled"{% endif %}>
            {% if not page_num == pages %}
                <a href="{% url 'boetes' pages %}{% get_params_url %}">
                    <i class="uk-icon-angle-double-right"></i>
                </a>
            {% else %}
                <span><i class="uk-icon-angle-double-right"></i></span>
            {% endif %}
        </li>
    </ul>
{% endif %}