<div class="uk-panel uk-panel-box">
    <h3 class="uk-panel-title">Beerlist / Fine log</h3>
    <hr>
    <h6 class="uk-margin-remove uk-text-bold">Filter log</h6>

    <div class="uk-width-1-1 uk-container-center uk-margin-top uk-margin-bottom">
        <form id="boetes-log-form" class="uk-form" method="get" action="/bierlijst/boetes/">
            <div class="uk-form-row uk-grid uk-margin-small-top">
                <label class="uk-width-1-2" for="housemate">Housemate</label>
                <select class="uk-width-1-2" name="housemate">
                    <option class="uk-text-muted" value="0">Housemate</option>
                    {% for u in housemates %}
                        <option {% if filters.housemate|add:"0" == u.user_id %} selected {% endif %}
                                                                                value="{{ u.user_id }}">{{ u }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="uk-form-row uk-grid uk-margin-small-top">
                <label class="uk-width-1-2" for="fine_amount">Fine amount</label>
                <input class="uk-width-1-2" type="number" name="fine_amount"
                       placeholder="1"
                       {% if filters.fine_amount != 0 %}value="{{ filters.fine_amount }}"{% endif %}>
            </div>

            <div class="uk-form-row uk-grid uk-margin-small-top">
                <label class="uk-width-1-2" for="final_date">Last date</label>
                <div class="uk-width-1-2 uk-form-icon">
                    <i class="uk-icon-calendar uk-width-1-1"></i>
                    <input type="text" name="final_date" placeholder="Pick a date..."
                           data-uk-datepicker="{format:'DD-MM-YYYY'}"
                           {% if filters.final_date != 0 %}value="{{ filters.final_date }}"{% endif %}>
                </div>
            </div>

            <div class="uk-form-row uk-grid">
                <div class="uk-width-4-10">
                    <button type="reset" class="uk-button uk-button-danger uk-width-1-1"
                            data-form-resettable>
                        Reset
                    </button>
                </div>
                <div class="uk-width-6-10">
                    <button type="submit" class="uk-button uk-button-primary uk-width-1-1">Filter</button>
                </div>
            </div>

        </form>
    </div>

    <script>
        $(document).ready(function () {
            $("body").on("click", "[data-form-resettable]", function () {
                var url = location.href;
                location = url.split('?')[0];
            });
        });
    </script>

</div>