<h5 class="uk-text-muted" style="font-style:normal">Voeg item toe</h5>

<form action="/thesau/hr/add_item/" method="post" class="uk-form uk-margin-bottom">

    {% csrf_token %}
    <div class="uk-form-row uk-grid uk-width-1-1" style="margin-left: -15px">
        <div class="uk-width-3-10" style="padding-left: 15px;">
            <input type="text" name="type" list="presets" placeholder="Type" class="uk-width-1-1">
            <datalist id="presets">
                <option value="Overig">
                <option value="Lentefeest">
                <option value="Kerstdiner">
                <option value="Huisweekend">
                <option value="Verf">
                <option value="Tuin">
                <option value="Cadeau">
                <option value="Schoonmaak">
            </datalist>
        </div>
        <div class="uk-width-4-10" style="padding-left: 15px;">
            <input type="text" name="note" placeholder="Note" class="uk-width-1-1">
        </div>
        <div class="uk-width-2-10" style="padding-left: 15px;">
            <input type="number" min="0" max="999" step="any" name="amount" placeholder="Bedrag" class="uk-width-1-1">
        </div>
        <div class="uk-width-1-10" style="padding-left: 15px;">
            <button type="submit" class="uk-button uk-button-primary uk-width-1-1"><i class="uk-icon-chevron-right"></i></button>
        </div>
    </div>

</form>
