<style type="text/css" xmlns="http://www.w3.org/1999/html">
    /* Custom the validation feedback icon styles */
    #sta-upload .fv-control-feedback {
        position: static;
        padding-left: 10px;
        display: inline;
    }
</style>

<div class="tab_content" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">
    <div class="uk-grid uk-container-center" style="max-width: 40em">

        <div class="uk-width-4-5 uk-container-center uk-padding-remove">
            <h4 class="uk-text-muted">Overzicht mutatiebestanden</h4>
            <hr><br>
        </div>
        {% for mut_file in mut_files %}
            <div class="uk-width-4-5 uk-container-center uk-padding-remove">
                {{ mut_file.opening_balance }}
                to
                {{ mut_file.closing_balance }}
            </div>
        {% endfor %}
    </div>
</div>