<div class="tab_content" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">
    <div class="uk-grid uk-container-center" style="max-width: 40em">

        <div class="uk-width-4-5 uk-container-center uk-padding-remove">
            <h4 class="uk-text-muted">Upload mutaties</h4>
            <hr><br>
        </div>
        {% if 1 == 0 %}
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div id="upload-drop" class="uk-placeholder uk-text-center">
                    <i class="uk-icon-cloud-upload"></i>
                    Drop .sta bestand hier of
                    <a class="uk-form-file" style="padding:0px;">selecteer bestand{{ form.sta_file }}</a>
                </div>

                <div id="progressbar" class="uk-progress uk-hidden">
                    <div class="uk-progress-bar" style="width: 0%;">...</div>
                </div>
            </form>
        {% else %}
            <form id="sta-upload" class="uk-form uk-form-horizontal uk-container-center uk-padding-remove uk-width-4-5" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="uk-form-row">
                    <label class="uk-form-label" for="sta-file">Select mutations file:
                        <i class="uk-icon-exclamation-circle uk-icon-hover" data-uk-tooltip="{pos:'right'}" title="MT940 bestandsformaat (*.sta)."></i>
                    </label>
                    <div class="uk-form-controls">
                        {{ form.sta_file }}
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="description">Description:</label>
                    <div class="uk-form-controls uk-width-4-5">
                        <input type="hidden" name="description"> {{ form.description }}
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit">Upload</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>