<div class="tab_content" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">
    <div class="uk-grid uk-container-center" style="max-width: 40em">

        <div class="uk-container-left uk-padding-remove uk-width-1-1">
            <table class="basic-table small-rows uk-table uk-table-hover">
                <caption><h4 class="uk-text-muted">Geselecteerde mutaties</h4></caption>

                <thead class="uk-h6">
                    <tr>
                        <th class="uk-hidden-small">€ voor</th>
                        <th class="uk-hidden-small">€ na</th>
                        <th class="uk-text-right">€</th>
                        <th>Datum</th>
                        <th class="uk-hidden-small">Geupload</th>
                        <th class="uk-hidden-small">Door</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not muts_applied|length == 0 %}
                    {% for mut in muts_applied %}
                    <tr>
                        <td><span class="uk-hidden-small">€{{ mut.start_balance }}</span></td>
                        <td><span class="uk-hidden-small">€{{ mut.end_balance }}</span></td>
                        <td class="uk-text-right">€
                            {% autoescape off %}
                            {{ mut.start_balance|subtract:mut.end_balance }}
                            {% endautoescape %}
                        </td>
                        <td><span class="uk-text-small">{{ mut.mutation_date|disp_date_string}}</span></td>
                        <td>
                            <span class="uk-text-small uk-hidden-small">
                            {{ mut.mutation_file.uploaded_at|disp_date_string}}
                            </span>
                        </td>
                        <td class="uk-hidden-small">{{ mut.mutation_file.upload_user.housemate }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>