{% if warnings %}
    {% if warnings.overlap_files %}
    <div class="uk-alert uk-alert-warning">
        <i class="uk-icon-warning"></i>
        Overlap of mutation uploads! <span class="uk-text-bold">(Not recommended)</span>
    </div>
    {% endif %}
    {% if warnings.negative_balance %}
    <div class="uk-alert uk-alert-warning">
        <i class="uk-icon-warning"></i>
        The final account balance is negative! <span class="uk-text-bold">(Not recommended)</span>
    </div>
    {% endif %}
    {% if warnings.overlap_prev_hr %}
    <div class="uk-alert uk-alert-warning">
        <i class="uk-icon-warning"></i>
        Mutations overlap previous HR period! <span class="uk-text-bold">(Not recommended)</span>
    </div>
    {% endif %}
{% endif %}
{% if errors %}
    {% if errors.no_uploaded_files %}
    <div class="uk-alert uk-alert-danger">
        <i class="uk-icon-close"></i>
        No mutation files have been uploaded.
    </div>
    {% elif errors.no_applied_files %}
    <div class="uk-alert uk-alert-danger">
        <i class="uk-icon-close"></i>
        No mutation files are applied.
    </div>
    {% endif %}
{% else %}
    <div class="uk-alert uk-alert-success">
        <i class="uk-icon-check"></i>
        No errors. You can proceed.
    </div>
{% endif %}