{% extends 'base/base.html' %}

{% block title %} | Thesau{% endblock %}

{% block add_to_header %}
<link rel="stylesheet" href="/static/css/components/tooltip.almost-flat.min.css">
<script src="/static/js/components/tooltip.min.js"></script>
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
    <div class="uk-grid uk-padding-remove" style="position:relative;" data-uk-grid-margin>
        <div class="uk-width-medium-7-10">
            {% include 'thesau/hr_summary.html' %}
            {% include 'thesau/hr_eetlijst.html' %}
        </div>
        <div class="uk-width-medium-3-10" style="margin-top: 2.5em;">
            {% include 'thesau/hr_options.html' %}
        </div>
    </div>

    {% else %}
        {% include 'base/login_form.html' %}
    {% endif %}

{% endblock %}