{% extends 'base/base.html' %}

{% block title %} | Thesau{% endblock %}

{% block add_to_header %}
<link rel="stylesheet" href="/static/css/components/datepicker.almost-flat.min.css">
<link rel="stylesheet" href="/static/css/components/tooltip.almost-flat.min.css">
<script src="/static/js/components/datepicker.min.js"></script>
<script src="/static/js/components/tooltip.min.js"></script>
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
    <div class="uk-grid uk-padding-remove" style="position:relative;" data-uk-grid-margin>
        <div class="uk-width-medium-7-10">

            <table class="basic-table small-rows uk-table uk-table-hover">
                <caption><h4 class="uk-text-muted">Geleegde bierlijsten</h4></caption>

                {% if not report_list|length == 0 %}
                <thead class="uk-h6">
                    <tr>
                        <th>Naam</th>
                        <th>Thesau</th>
                        <th>Datum</th>
                        <th class="uk-text-center">Afgerond</th>
                        <th class="uk-text-center">Exporteren</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in report_list %}
                    <tr>
                        {% if r.report_closed %}
                        <td>{{ r.report_name }}</td>
                        <td>{{ r.report_user.housemate }}</td>
                        <td>{{ r.report_date }}</td>
                        <td class="uk-text-center"><i class="uk-icon-check"></i> </td>
                        <td class="uk-text-center"><a href="/{{ r.report_file }}"><i class="uk-icon-file"></i> (xlsx)</a></td>
                        {% else %}
                        <td class="uk-text-muted">N.v.t.</td>
                        <td class="uk-text-muted">({{ r.report_user.housemate }})</td>
                        <td class="uk-text-muted">({{ r.report_date }})</td>
                        <td class="uk-text-muted uk-text-center"><i class="uk-icon-close"></i> </td>
                        <td class="uk-text-muted uk-text-center">N.v.t.</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <tr><td class="uk-text-center uk-text-muted" style="padding:1em;">Nog geen HR.</td></tr>
                {% endif %}

            </table>
            <hr>

            <table class="basic-table small-rows uk-table uk-table-hover">
                <caption><h4 class="uk-text-muted">Resultaten ge-uploade mutaties</h4></caption>
                <thead class="uk-h6">
                    <tr>
                        <td>
                            <span class="uk-text-bold">
                                Totaal:
                                <i class="uk-icon-exclamation-circle" data-uk-tooltip="{pos:'bottom'}"
                                   title="No. toegepaste, unieke mutaties"></i>
                            </span>
                        </td>
                        <td><span class="uk-text-bold">Balans:</span> (voor)</td>
                        <td><span class="uk-text-bold">Balans:</span> (na)</td>
                        <td><span class="uk-text-bold">Datum:</span> (begin)</td>
                        <td><span class="uk-text-bold">Datum:</span> (eind)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ muts_used }}
                        </td>
                        <td>€{{ balance_start }}</td>
                        <td>€{{ balance_end }}</td>
                        <td class="uk-text-small">{{ date_begin }}</td>
                        <td class="uk-text-small">{{ date_end }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-width-medium-3-10">
            {% include 'thesau/options.html' %}
        </div>
    </div>

    {% else %}
        {% include 'base/login_form.html' %}
    {% endif %}

{% endblock %}