{% extends 'base/base.html' %}

{% load display_date %}
{% load math_op %}

{% block title %} | Thesau{% endblock %}

{% block add_to_header %}
<!-- FormValidation CSS file -->
<link rel="stylesheet" href="/static/formvalidation/css/formValidation.min.css">
<!-- FormValidation plugin and the class supports validating Semantic form -->
<script src="/static/formvalidation/js/formValidation.min.js"></script>
<script src="/static/formvalidation/js/framework/uikit.min.js"></script>
<!-- UIkit CSS and JS -->
<link rel="stylesheet" href="/static/css/components/tooltip.almost-flat.min.css">
<link rel="stylesheet" href="/static/css/components/upload.min.css">
<link rel="stylesheet" href="/static/css/components/progress.min.css">
<link rel="stylesheet" href="/static/css/components/placeholder.min.css">
<link rel="stylesheet" href="/static/css/components/form-file.min.css">
<script src="/static/js/components/tooltip.min.js"></script>
<script src="/static/js/components/upload.min.js"></script>

{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
        <div class="uk-grid uk-padding-remove" style="position:relative;" data-uk-grid-margin>
            <div class="uk-width-medium-7-10">
                <ul class="uk-tab" data-uk-tab="{connect:'#tab-container', animation: 'fade'}">
                    <li class="uk-width-1-4 uk-text-center"><a><i class="uk-icon-search"></i>
                        Mut<span class="uk-hidden-small">atie</span><span class="uk-visible-small">.</span>
                        uploads</a>
                    </li>
                    {% if errors or warnings %}
                        <li class="uk-width-1-4 uk-text-center">
                            <a><i class="uk-icon-warning"></i>
                                <span class="uk-hidden-small">Problems</span>
                                <span class="uk-visible-small uk-text-small">Problems</span>
                            </a>
                        </li>
                    {% endif %}
{#                    {% if not errors %}#}
{#                        <li class="uk-width-1-4 uk-text-center">#}
{#                            <a><i class="uk-icon-warning"></i>#}
{#                                <span class="uk-hidden-small">Overzicht</span>#}
{#                                <span class="uk-visible-small uk-text-small">Overzicht</span>#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endif %}#}
                </ul>
                <ul id="tab-container" class="uk-switcher tab-content">
                    <li>{% include 'thesau/mutations_uploads.html' %}</li>
                    <li>
                        <div class="tab_content" style="border-bottom: 1px solid #ddd; padding: 2em; margin-left: 0;">
                            <div class="uk-grid uk-container-center" style="max-width: 40em">

                                <div class="uk-container-left uk-padding-remove uk-width-1-1">
                                    <h4 class="uk-text-muted">Errors and warnings</h4>
                                    <hr>
                                    {% include 'thesau/mutations_problems.html' %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <br/>

                <ul class="uk-tab" data-uk-tab="{connect:'#tab-overview', animation: 'fade'}">
                    <li class="uk-width-1-4 uk-text-center"><a><i class="uk-icon-list"></i> HR overzicht</a></li>
                </ul>
                <ul id="tab-overview" class="uk-switcher tab-content">
                    <li>
                    {% include 'thesau/mutations_result.html' %}
                    {% if not errors %}
                        {% include 'thesau/mutations_table.html' %}
                    {% endif %}
                    </li>
                </ul>
            </div>
            <div class="uk-width-medium-3-10" style="margin-top: 2.5em;">
                {% include 'thesau/mutations_options.html' %}
            </div>

        </div>
    {% else %}
        {% include 'base/login_form.html' %}
    {% endif %}
{% endblock %}