<div class="uk-panel uk-panel-box">
    <h3 class="uk-panel-title">Thesau</h3>
    <hr>

    <p><a class="uk-button uk-button-large uk-width-1-1" disabled><i class="uk-icon-beer"></i> Biertelling</a></p>
    <p><a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="{% url 'hr' %}"><i class="uk-icon-book"></i> Lijsten resetten</a></p>
    <p><a class="uk-button uk-button-large uk-width-1-1 uk-button-primary" href="{% url 'bank mutations' %}"><i class="uk-icon-bank"></i> Bank-mutaties</a></p>
    <p><a class="uk-button uk-button-large uk-width-1-1" disabled><i class="uk-icon-sticky-note"></i> Bonnetjes controleren</a></p>
    <p><a class="uk-button uk-button-large uk-width-1-1" disabled><i class="uk-icon-bar-chart"></i> HO overzicht</a></p>
    <p><a class="uk-button uk-button-large uk-width-1-1" disabled><i class="uk-icon-line-chart"></i> Cashflow overzicht</a></p>

    <hr>
    {% include 'thesau/options_HR_status.html' %}

    <hr>
    <h6 class="uk-margin-remove uk-text-bold">Bankrekening</h6>
    <p style="margin-left: 1em; font-size: 12px">
        <strong>NL89 ABNA 047 90 39 860</strong> <br>
        t.n.v. Vereniging Studentenhuis DS4
    </p>

</div>