<h6 class="uk-margin-remove uk-text-bold">HR status</h6>
<div class="uk-grid">
    <span class="uk-text-small uk-width-6-10">Laatste HR datum:</span>
    <span class="uk-text-small uk-width-4-10">{{ latest_HR.report_date }}</span>
    <span class="uk-text-small uk-width-6-10">Huidige datum:</span>
    <span class="uk-text-small uk-width-4-10">{{ current_date }}</span>
    <span class="uk-text-small uk-width-6-10">
        Aantal HR dagen: <i class="uk-icon-exclamation-circle uk-icon-hover" data-uk-tooltip="{pos:'bottom'}" title="Inclusief vandaag."></i>
    </span>
    <span class="uk-text-small uk-width-4-10">{{ duration_HR }}</span>
</div>