<br *ngIf="miniView"/>
<section fxLayout="column" fxFlexAlign="stretch">
    <mat-card class="page-content-card" fxFlexAlign="center" style="margin-bottom:20px;">
        <mat-card-header>
            <mat-card-title *ngIf="!miniView">
                <mat-card-title>
                    Turf-list
                </mat-card-title>
                <mat-card-subtitle>
                    Balance: {{user ? "&euro;" + user.housemate.balance : "?"}}
                </mat-card-subtitle>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Beer: {{user ? user.housemate.sum_bier : ""}}
            Red wine: {{user ? user.housemate.sum_rwijn : ""}}
            White wine: {{user ? user.housemate.sum_wwijn : ""}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button *ngIf="user" (click)="turfItem()" style="margin-right:5px;" color="accent">+1
                beer
            </button>
            <div fxFlex></div>
            <button mat-raised-button *ngIf="user" (click)="turfItem('red-wine')" style="margin-right:5px;"
                    color="warn">+1 red
            </button>
            <button mat-raised-button *ngIf="user" (click)="turfItem('white-wine')" style="margin-right:5px;"
                    color="primary">+1 white
            </button>
        </mat-card-actions>
    </mat-card>
</section>


<!--<br/><br/>-->
<!--Future updates: <br/>-->
<!--<ol>-->
<!--    <li>turf-matrix</li>-->
<!--    <li>crate-turf (incl. house)</li>-->
<!--    <li>quick log</li>-->
<!--    <li>boetepanel</li>-->
<!--    <li>splitting wine across housemates.</li>-->
<!--</ol>-->
