<section fxLayout="column">
    <mat-card class="page-content-card" style="margin-bottom:20px;">
        <mat-card-header>
            <div mat-card-avatar>
                <i class="material-icons vertical-align-middle padding-bottom-3 icon-large">
                    info
                </i>
            </div>
            <mat-card-title style="display: flex;">
                Beer log
            </mat-card-title>
            <mat-card-subtitle>
                subtitle
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <div fxFlex="row">
                row
            </div>
            <mat-list fxLayout="column">
                <mat-list-item fxLayout="row">
                    list item
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            actions
        </mat-card-actions>
    </mat-card>
</section>
