<section fxLayout="column" fxFlexAlign="stretch">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Profile
            </mat-card-title>
            <mat-card-subtitle>
                {{ isHouse ? "The house profile should not be edited." : "Showing " + profile?.housemate.display_name}}
            </mat-card-subtitle>
            <div fxFlex></div>
            <button mat-raised-button color="accent" [routerLink]="['/profile-edit']" *ngIf="!isHouse">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="primary" [routerLink]="['/home']" *ngIf="isHouse">
                <mat-icon>house</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <div class="container" *ngIf="profile"
                 fxLayout
                 fxLayout.xs="column"
                 fxLayoutAlign="center"
                 fxLayoutGap="10px"
                 fxLayoutGap.xs="0">
                <div fxFlex="5%"></div>
                <div class="item item-2" fxFlex>
                    <h1>Profile</h1>
                    <form [formGroup]="profileForm" fxLayout="column">
                        <mat-form-field>
                            <input matInput placeholder="First name" type="text" formControlName="first_name" required/>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Last name" type="text" formControlName="last_name" required/>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password (optional)" type="text" disabled/>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password repeat (optional)" type="text" disabled/>
                        </mat-form-field>
                    </form>
                </div>
                <div class="item item-3" fxFlex>
                    <h1>Housemate</h1>
                    <form [formGroup]="profileForm" fxLayout="column" novalidate>
                        <mat-form-field formGroupName="housemate">
                            <input matInput placeholder="Nickname" type="text" formControlName="display_name" required/>
                        </mat-form-field>
                        <mat-form-field formGroupName="housemate">
                            <input matInput placeholder="Room number" type="number" formControlName="room_number"
                                   required/>
                        </mat-form-field>
                        <mat-form-field formGroupName="housemate">
                            <input matInput placeholder="Diet" type="text" formControlName="diet"/>
                        </mat-form-field>
                    </form>
                </div>
                <div fxFlex="5%"></div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
