{% extends 'base/base.html' %}

{% block title %} | Contact{% endblock %}

{% block body_block %}

<div class="uk-grid uk-margin-remove uk-visible-large" style="position:relative;">
    <iframe class="uk-width-7-10" style="height:40em; border:1px solid #CCC; padding:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB_ffN_Wz7vxC2Jo7Ku05TK3am-MMx85y4&q=Studentenhuis+Ds4,Pijnacker+NL&zoom=13" allowfullscreen></iframe>
    <div class="uk-width-3-10">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">Contact</h3>
            <hr>
            <p>
                Studentenhuis DS4<br>
                Delftsestraatweg 4<br>
                2641 NB Pijnacker
            </p>

            <p class="uk-margin-small-bottom">
                <i class="uk-icon-phone"></i> 015-3640070<br>
                <i class="uk-icon-envelope"></i> studentenhuisds4<i class="uk-icon-at"></i>gmail.com
            </p>
        </div>
        <iframe class="uk-width-1-1 uk-visible-large" style="height:23.1em; border:1px solid #CCC; padding:0; margin-top:2em;" frameborder="0" src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyB_ffN_Wz7vxC2Jo7Ku05TK3am-MMx85y4&location=52.0167224,4.4213709&heading=282" allowfullscreen></iframe>
    </div>

</div>

<div class="uk-margin-remove uk-hidden-large">
    <iframe class="uk-width-1-1" style="height:15em; border:1px solid #CCC; padding:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB_ffN_Wz7vxC2Jo7Ku05TK3am-MMx85y4&q=Studentenhuis+Ds4,Pijnacker+NL&zoom=12&center=52.0181443,4.4072774" allowfullscreen></iframe>
    <div class="uk-width-1-1" style="margin-top:2em;">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">Contact</h3>
            <hr>
            <p>
                Studentenhuis DS4<br>
                Delftsestraatweg 4<br>
                2641 NB Pijnacker
            </p>

            <p class="uk-margin-small-bottom">
                <i class="uk-icon-phone"></i> 015-3640070<br>
                <i class="uk-icon-envelope"></i> studentenhuisds4<i class="uk-icon-at"></i>gmail.com
            </p>
        </div>
    </div>
</div>

{% endblock %}