{% load group_check %}
{% load static from static %}
<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">

<meta>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#00A8E6">

<title>DS4{% block title %}{% endblock %}</title>

<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/logo-icon.png">

<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css" />
<link rel="stylesheet" href="{% static '/css/lf/lf20.css' %}" />
<link rel="stylesheet" href="/static/css/components/notify.almost-flat.min.css" />
<link rel="stylesheet" href="/static/css/components/datepicker.almost-flat.min.css" />
<link rel="stylesheet" href="/static/css/components/tooltip.almost-flat.min.css" />
<link rel="stylesheet" href="/static/css/base.css" />

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/components/notify.min.js' %}"></script>
<script src="{% static 'js/components/datepicker.min.js' %}"></script>
<script src="{% static 'js/components/tooltip.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
{% block add_to_header %}{% endblock %}
</head>

<body class="uk-height-1-1">
    <div class="uk-container uk-container-center uk-margin-bottom">

        {% include 'base/nav_lf.html' %}
        <!-- {% include 'base/nav.html' %} -->

        {% if messages %}
        {% for m in messages %}
        {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="uk-alert uk-alert-danger" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            <p><i class="uk-icon-exclamation-triangle"></i> {{ m.tags|upper }}: {{ m }}</p>
        </div>
        {% elif m.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="uk-alert uk-alert-warning" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            <p><i class="uk-icon-exclamation-triangle"></i> {{ m.tags|upper }}: {{ m }}</p>
        </div>
        {% elif m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="uk-alert uk-alert-success" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            <p><i class="uk-icon-exclamation-triangle"></i> {{ m.tags|upper }}: {{ m }}</p>
        </div>
        {% elif m.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="uk-alert" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            <p><i class="uk-icon-exclamation-triangle"></i> {{ m.tags|upper }}: {{ m }}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% block body_block %}Failed to load page content.{% endblock %}

    </div>
    {% include 'base/nav_side.html' %}

</body>

</html>
