<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DS4{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/img/logo-icon.png">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css" />
    <link rel="stylesheet" href="/static/css/basics.css" />

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/uikit.min.js"></script>

</head>


<body class="uk-height-1-1">

    <div class="uk-container uk-container-center">

        {% include 'base/nav.html' %}

        {% block body_block %}Failed to load page content.{% endblock %}


        <p class="uk-text-center uk-text-muted uk-hidden-small uk-margin-top"><i class="uk-icon-heart-o"></i> DS4</p>


    </div>

    {% include 'base/nav_side.html' %}

</body>


</html>