<nav class="uk-navbar uk-margin-top" style="margin-bottom:1.5em">

    <a class="uk-navbar-brand uk-visible-large" href="/"><img src="/static/img/logo-icon.png" /></a>

    <ul class="uk-navbar-nav uk-hidden-small">
        <li {% if request.get_full_path == '/' %}class="uk-active"{% endif %}><a href="/"><i class="uk-icon-home"></i> Home</a></li>
        <li {% if '/bierlijst/' in request.get_full_path %}class="uk-active"{% endif %}><a href="/bierlijst"><i class="uk-icon-beer"></i> Bierlijst</a></li>
        <li {% if '/eetlijst/' in request.get_full_path %}class="uk-active"{% endif %}><a href="/eetlijst"><i class="uk-icon-cutlery"></i> Eetlijst</a></li>
        <li><a href="http://lentefeest.ds4.nl/"><i class="uk-icon-star"></i> Lentefeest</a></li>
        <li class="uk-hidden"><a href="/"><i class="uk-icon-book"></i> Archief</a></li>
        <li {% if '/contact/' in request.get_full_path %}class="uk-active"{% endif %}><a href="/contact"><i class="uk-icon-map-marker"></i> Contact & Route</a></li>
    </ul>

    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">

            {% if user.is_authenticated %}
            <li class="uk-parent" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                <a href="/user/profile"><strong>{{ request.user.username }}</strong> <i class="uk-icon-angle-down"></i></a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        {% if request.user.username != 'huis' %}
                        <li class=" uk-hidden-small"><a href="/user/huis">Veranderen naar 'Huis'</a></li>
                        <li class="uk-nav-divider  uk-hidden-small"></li>
                        {% endif %}
                        <li><a href="/user/profiel"><i class="uk-icon-user"></i> Profiel</a></li>
                        <li><a href="/user/instellingen"><i class="uk-icon-cog"></i> Instellingen</a></li>
                        <li><a href="/user/logout"><i class="uk-icon-sign-out"></i> Uitloggen</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li class="uk-parent" data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                <a href="/user/login/">Inloggen <i class="uk-icon-angle-down"></i></a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <form class="uk-form uk-margin-remove uk-display-inline-block" method="post" action="/user/login/">
                        {% csrf_token %}
                        <div class="uk-form-row"><input type="text" name="username" placeholder="Username" class="uk-width-1-1"></div>
                        <div class="uk-form-row"><input type="password" name="password" placeholder="Password" class="uk-width-1-1"></div>
                        <div class="uk-form-row"><button type="submit" class="uk-button uk-button-primary uk-width-1-1">Log in</button></div>

                    </form>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>

    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-padding-remove uk-visible-small">
        <ul class="uk-breadcrumb uk-margin-remove" style="float:left; line-height: 40px;">
            <li><a href="/">DS4</a></li>
            {% if breadcrumbs %}
            {% for b in breadcrumbs %}
            {% if  forloop.counter0 == 0 and not forloop.revcounter0 == 0 %}
            <li><a href="/{{ b }}/">{{ b }}</a></li>
            {% else %}
            {% if not b == '' %}<li class="uk-active"><span>{{ b }}</span></li>{% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>

</nav>