<section fxFlexAlign="stretch" fxLayout="column">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Edit profile
            </mat-card-title>
            <mat-card-subtitle>
                {{ isHouse ? "The house profile should not be edited." : "Editing " + user?.housemate.display_name}}
            </mat-card-subtitle>
            <div fxFlex></div>
            <button [routerLink]="['/profile']" color="primary" mat-raised-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button *ngIf="user?.is_staff||user?.is_superuser" [routerLink]="['/admin/user-manage/user-edit/', user.id]"
                    color="primary"
                    mat-raised-button>
                <mat-icon>security</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="user" class="container"
                 fxLayout
                 fxLayout.xs="column"
                 fxLayoutAlign="center"
                 fxLayoutGap="10px"
                 fxLayoutGap.xs="0">
                <div fxFlex="5%"></div>
                <div class="item item-2" fxFlex>
                    <h1>Profile</h1>
                    <form [formGroup]="editProfileForm" fxLayout="column">
                        <mat-form-field>
                            <input formControlName="first_name" matInput placeholder="First name" required type="text"/>
                            <mat-error *ngIf="E('first_name')?.required">First name is required.</mat-error>
                            <mat-error *ngIf="E('first_name')?.minlength">First name needs to be >=2 characters.
                            </mat-error>
                            <mat-error *ngIf="E('first_name')?.maxlength">First name needs to be <=30 characters.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="last_name" matInput placeholder="Last name" required type="text"/>
                            <mat-error *ngIf="E('last_name')?.required">Last name is required.</mat-error>
                            <mat-error *ngIf="E('last_name')?.minlength">Last name needs to be >=2 characters.
                            </mat-error>
                            <mat-error *ngIf="E('last_name')?.maxlength">Last name needs to be <=150 characters.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="password" matInput placeholder="Password (optional)"
                                   type="password"/>
                            <mat-error *ngIf="E('password')?.minlength">Password needs to be >=6 characters.</mat-error>
                            <mat-error *ngIf="E('password')?.maxlength">Password needs to be <=150 characters.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="password_repeat" matInput placeholder="Password repeat"
                                   type="password"/>
                            <mat-error *ngIf="E('password_repeat')?.minlength">Password needs to be >=6 characters.
                            </mat-error>
                            <mat-error *ngIf="E('password_repeat')?.maxlength">Password needs to be <=150 characters.
                            </mat-error>
                            <mat-error *ngIf="E('password_repeat')?.isNotMatching">Passwords are not equivalent.
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div>
                <div class="item item-3" fxFlex>
                    <h1>Housemate</h1>
                    <form [formGroup]="editProfileForm" fxLayout="column" novalidate>
                        <mat-form-field formGroupName="housemate">
                            <input formControlName="display_name" matInput placeholder="Nickname" required type="text"/>
                            <mat-error *ngIf="H_E('display_name')?.required">Nickname is required.</mat-error>
                            <mat-error *ngIf="H_E('display_name')?.minlength">Nickname needs to be >=2 characters.
                            </mat-error>
                            <mat-error *ngIf="H_E('display_name')?.maxlength">Nickname needs to be <=30 characters.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field formGroupName="housemate">
                            <input formControlName="room_number" matInput placeholder="Room number" required
                                   type="number"/>
                            <mat-error *ngIf="H_E('room_number')?.required">Room number is required.</mat-error>
                            <mat-error *ngIf="H_E('room_number')?.min">Room number must be >=1.
                            </mat-error>
                            <mat-error *ngIf="H_E('room_number')?.max">Room number must not exceed 22.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field formGroupName="housemate">
                            <input formControlName="diet" matInput placeholder="Diet" type="text"/>
                        </mat-form-field>
                        <button (click)="editUser()" [disabled]="!editProfileForm.valid" color="primary"
                                mat-raised-button type="button">Edit profile
                        </button>
                    </form>
                </div>
                <div fxFlex="5%"></div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
