{% extends 'base/base.html' %}
{% load humanize %}

{% block body_block %}
    <table>
        {% for r in keukendiensts %}
            <tr>
                <td>{{ r.deadline }}</td>
                <td>{{ r.done }}</td>
                <td>{{ r.user.housemate.display_name }}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        {% for r in google_cal_events.result %}
            <tr>
                <td>{{ r.summary }}</td>
                <td>{{ r.description }}</td>
                <td>{{ r.start.dateTime }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}