<section
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="center center">
    <mat-card
        [ngStyle]="{'margin':'10px'}"
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
    >
        <div *ngIf="!user?.is_superuser">
            You are not allowed to create a new user. Become admin, or drink a
            beer or two.
        </div>
        <div
            *ngIf="user?.is_superuser"
            class="container"
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="5px"
            fxLayoutGap.xs="0"
        >
            <div class="item item-2" fxFlex>
                <h1 *ngIf="!existingGroup">New Group</h1>
                <h1 *ngIf="existingGroup">Edit Group <em>{{createOrEditGroup.name}}</em></h1>
                <button mat-flat-button routerLink="/admin/group-manage/">
                    <mat-icon>arrow_back</mat-icon>
                    back to groups
                </button>
                <form [formGroup]="createGroupForm" fxLayout="column">
                    <mat-form-field>
                        <input
                            formControlName="name"
                            matInput
                            placeholder="Group name"
                            required
                            type="text"
                        />
                        <mat-error *ngIf="E('name')?.required">
                            Name is required.
                        </mat-error>
                        <mat-error *ngIf="E('name')?.groupNameExists">
                            This group name is already taken.
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
                        <mat-form-field fxFlex="60">
                            <mat-select formControlName="newMember" placeholder="Add active member">
                                <mat-option *ngFor="let activeUser of activeUsers" [value]="activeUser">
                                    {{activeUser.housemate.display_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button
                            (click)="addAllActiveMembers()"
                            [disabled]="!existingGroup || !activeUsers || activeUsers.length == 0"
                            color="accent"
                            mat-raised-button
                            style="margin-bottom: 10px;"
                            type="button">
                            Add all active users
                        </button>
                    </div>
                    <div
                        *ngFor="let memberControl of createGroupForm.get('members')?.controls; let i = index"
                        formArrayName="members"
                    >
                        <mat-form-field>
                            <mat-select [compareWith]="compareTwoMembers"
                                        [formControlName]="i"
                                        [value]="memberControl.value"
                                        placeholder="Group member"
                                        required>
                                <mat-option *ngFor="let activeUser of activeUsers" [value]="activeUser">
                                    {{activeUser?.housemate?.display_name ? activeUser?.housemate?.display_name : activeUser.username + " (username)"}}
                                </mat-option>
                            </mat-select>
                            <button (click)="deleteGroupMemberControl(i)" *ngIf="memberControl.value" aria-label="Clear"
                                    mat-button mat-icon-button
                                    matSuffix>
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <mat-line></mat-line>
                    <button
                        (click)="createOrUpdateGroup()"
                        [disabled]="!createGroupForm.valid"
                        color="primary"
                        mat-raised-button
                        type="button"
                    >
                        {{existingGroup ? "Update group" : "Create group"}}
                    </button>
                </form>
            </div>
        </div>
    </mat-card>
</section>
