<div fxLayout="row" fxLayoutAlign="center center" class="login-main">

    <mat-progress-spinner style="margin:0 auto;" *ngIf="awaitingLogin"
                          color="primary" mode="indeterminate"></mat-progress-spinner>

    <mat-card class="login-card" *ngIf="!awaitingLogin">
        <mat-card-header>
            <mat-card-title>Login Required</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="login-form" fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email" [formControl]="emailFormControl"
                           [errorStateMatcher]="matcher">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" name="password" type="password" [formControl]="passwordFormControl">
                    <mat-error
                        *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                        Please enter a password longer than 4 characters
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="state">
                    <strong>{{state}}</strong>
                </mat-error>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button (click)="verifyLogin()" color="primary">LOGIN</button>
        </mat-card-actions>
    </mat-card>

</div>
