<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <p>DS4Reboot</p>
    </div>

    <mat-card class="example-card" fxFlexAlign="center">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>New website</mat-card-title>
            <mat-card-subtitle>Site & app</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The new website will be designed by practical ideals and shaped by creative ideas. The Dutch language
                will be changed completely to English. As such, the old <strong>Eetlijst</strong> will be renamed to
                <strong>Dinner-list</strong>, although you will be seeing the icon mainly on mobile. The <strong>Bierlijst</strong>
                will
                suitably be called <strong>Turf-list</strong>.
                <br/>
                <br/>
                Smack the buttons on the bottom if you need something to bash, but, until the new webapp works, <a
                href="https://ds4.nl">ds4.nl</a>
                will remain the place to go.
                <br/>
                Kind regards,
                <br/>
                David
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button onClick="alert('Nice, you can click a useless button!')">TEST</button>
            <button mat-button onClick="alert('Nice, you can click another useless button!')">TEST2</button>
        </mat-card-actions>
    </mat-card>

</section>
