mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
@import 'theme';
mat-sidenav-content {
    background-color: mat-color($ds4-app-primary);
}
mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
    box-sizing: border-box;
}
