<app-layout>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation" mode="push">
            <mat-toolbar>
                <mat-toolbar-row>
                    <h2> DS4 </h2>
                </mat-toolbar-row>
            </mat-toolbar>
            <!--this is a place for us to add side-nav code-->
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <!--in here all the content must reside. We will add a navigation header as well-->
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <router-outlet></router-outlet>
            </main>
            <app-bottom-nav id="bottom-bar"></app-bottom-nav>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>
