@import '../../node_modules/@angular/material/theming';
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ds4-app-primary: mat-palette($mat-light-blue);
$ds4-app-accent:  mat-palette($mat-orange, A200, A100, A400);
$ds4-app-warn:    mat-palette($mat-red);

$ds4-app-theme: mat-light-theme($ds4-app-primary, $ds4-app-accent, $ds4-app-warn);
@include angular-material-theme($ds4-app-theme);

$ds4-app-background: #222831;

$ds4-card-max-width: 320px;
$ds4-card-min-width: 268px;

.page-content-card {
    max-width: $ds4-card-max-width;
    min-width: $ds4-card-min-width;
}
