@import 'theme-variables.scss';
@include mat-core();
$ds4-app-theme: mat-light-theme($ds4-app-primary, $ds4-app-accent, $ds4-app-warn);
@include angular-material-theme($ds4-app-theme);

$ds4-card-max-width: 340px;
$ds4-card-min-width: 280px; //268px;

.page-content-card {
    max-width: $ds4-card-max-width;
    min-width: $ds4-card-min-width;
}

.page-content-card-dual {
    max-width: 420px;
    min-width: 268px;
}
